// SECTION :: START

.dashboard {
	background-color: #f9f9f9;

	&__wrapper {
		display: flex;
		//min-height: 600px;
		min-height: 100vh;
		padding: 30px;

		&-left {
			display: flex;
			flex-direction: column;
			width: 100%;
			max-width: 300px;
			min-height: 100%;
			max-height: calc(100vh - 60px);
			padding: 50px;
			border-radius: 20px;
			background: linear-gradient(179.92deg, #4097D9 -23.94%, #30C4A0 53.12%, #00B94F 120.74%);

			&-top {
				display: flex;
				justify-content: center;
				padding-bottom: 50px;
			}

			&-middle {
				flex: 1;
				min-height: 1px;
				max-height: 100%;
			}

			&-bottom {
				position: relative;
				display: flex;
				align-items: center;
				justify-content: center;
				height: 160px;
				padding-top: 50px;

				&:after {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 1px;
					background-color: rgba(#fff, 0.2);
				}

				a {
					display: flex;
					align-items: center;
					justify-content: center;

					.icon-font,
					span {
						color: #ffffff;
					}

					.icon-font {
						font-size: 22px;

						& + span {
							padding-left: 10px;
						}
					}

					span {
						@extend %fontOpenSans;
						font-weight: bold;
						font-size: 14px;
						line-height: 19px;
						color: #FFFFFF;
					}
				}
			}
		}

		&-right {
			display: flex;
			flex-direction: column;
			flex: 1;
			min-width: 1px;
			max-width: 100%;
			min-height: 100%;
			max-height: calc(100vh - 60px);
			padding-left: 30px;
		}

		&-top {
			padding-bottom: 50px;
		}

		&-middle {
			flex: 1;
			min-height: 1px;
			max-height: 100%;
		}

		&-bottom {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding-top: 50px;
		}
	}

	&__header {
		min-height: 60px;
		box-shadow: 0 10px 80px 0 rgba(18, 30, 49, 0.03);
		border-radius: 10px;
		background: #FFFFFF;
	}

	&__nav {
		display: flex;
		flex-direction: column;
		padding-top: 50px;

		a {
			position: relative;
			display: flex;
			align-items: center;
			padding-left: 30px;

			&:after {
				content: '';
				opacity: 0;
				visibility: hidden;
				transform: translateX(100%);
				position: absolute;
				top: -40px;
				left: 1px;
				width: 250px;
				height: 102px;
				background-image: url('../img/img-dashboard-overlay.svg');
				background-repeat: no-repeat;
				background-position: left center;
				background-size: cover;
				@include transition(opacity, visibility, transform);
			}

			&.is-active {
				&:after {
					opacity: 1;
					visibility: visible;
					transform: translateX(0);
					@include transition(opacity, visibility, transform);
				}

				.icon-font,
				span {
					color: #4097d9;
					@include transition(color);
				}
			}

			&:not(:last-of-type) {
				margin-bottom: 50px;
			}

			.icon-font,
			span {
				z-index: 2;
				position: relative;
				color: #ffffff;
				@include transition(color);
			}

			.icon-font {
				font-size: 20px;

				& + span {
					padding-left: 10px;
				}
			}

			span {
				@extend %fontOpenSans;
				font-weight: 600;
				font-size: 14px;
				line-height: 22px;
			}
		}
	}

	&__box {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 202px;
		padding: 20px;
		background: #FFFFFF;
		border-radius: 10px;
		box-shadow: 0 4px 50px 0 rgba(18, 30, 49, 0.05);

		&-wrapper {
			position: relative;
			left: -10px;
			display: flex;
			flex-wrap: wrap;
			width: calc(100% + 10px);

			> div {
				width: 100%;
				max-width: calc(100% / 5);
				padding-left: 10px;
				padding-bottom: 10px;
			}
		}
	}
}

// SECTION :: END
