// COMMON :: START

#container {
	z-index: 999;
	position: relative;
	padding-top: 150px;
	background-color: #ffffff;
	@include adaptive(767) {
		padding-top: 0;
	}
}

.copyright {
	display: flex;
	justify-content: center;

	&__text {
		@extend %fontOpenSans;
		font-size: 12px;
		line-height: 16px;
		text-align: center;
		color: #FFFFFF;
	}
}

// COMMON :: END
