// SECTION :: START

section#contacts.contacts

  .contacts__bg
    img(src="img/img-contacts-main.png" alt="")

  .c-grid
    .contacts__wrapper.contacts__wrapper-1

      h1.contacts__title!= "Welcome to <br>Epic9"
      p.contacts__slogan Everything we do at Epic9 is about Customer Delight and delivering the promise of NextGen technologies

    .contacts__wrapper.contacts__wrapper-2
      p We are a solution-led Cloud consulting company driven by a passion for delivering the “Faster, Better, Cheaper” promise of Cloud, Automation, and NextGen technologies. We build innovative technology solutions to address today’s enterprise challenges and to put our clients on a transformation journey to become the enterprise of the future. We take next gen technologies and turn them in to solutions for your enterprise. Our consultants have deep subject matter expertise in Cloud, Automation, DevOps and Open Source technologies.

// SECTION :: END
