// SECTION :: START

section#career.career

  .career__bg
    img(src="img/img-career-main.png" alt="")

  .c-grid
    .career__wrapper.career__wrapper-1

      h1.career__title Seize your unfair advantage
      p.career__slogan Enter the fold for a unique learning and work environment

    .career__wrapper.career__wrapper-2
      p We are growing fast and looking for awesome people to join our team. At Epic9, we love what we do, pour our passion into building technology solutions and providing amazing service to our clients. We strive to work smart, stay humble & nimble and create solutions that truly transform our clients IT. We’re looking for dedicated, hard-working cloud practitioners who will help us achieve our goal of being the best cloud engineering services provider in the markets we serve. We hire for projects throughout the United States and India.

// SECTION :: END
