// SECTION :: START

section#describe.describe
  .c-grid
    .describe__wrapper

      .describe__block-wrapper
        div
          .describe__block
            .describe__block-left

              .describe__block-media
                img(src="img/img-describe-1.png" alt="")

            .describe__block-right
              p.describe__block-title Current Openings
              .describe__block-desc
                p We are constantly in need of experts in next gen technologies to build innovative solutions for our clients. Epic9 is committed to providing an equal opportunity to all job seekers.
                p Submit your resume if you have experience in one of the following roles or possess deep subject matter expertise in the associated technologies.
        div
          .describe__block.describe__block--reverse
            .describe__block-left

              .describe__block-media
                img(src="img/img-describe-2.png" alt="")

            .describe__block-right
              p.describe__block-title AWS Solutions Architect
              .describe__block-desc
                p AWS continues to have a steep growth curve since its launch in 2006. As a trusted customer advocate, the AWS Solutions Architect helps our clients understand best practices around advanced cloud-based solutions, and how to migrate existing workloads to AWS.
                p The AWS Solutions Architect will have the opportunity to help shape and execute a strategy to build mindshare and broad use of AWS. You will be expected to be a thought leader and help grow AWS adoption in the client organization
        div
          .describe__block
            .describe__block-left

              .describe__block-media
                img(src="img/img-describe-3.png" alt="")

            .describe__block-right
              p.describe__block-title Fullstack Developers (React, Node.js, Mongo DB)
              .describe__block-desc
                p As a mobile app & web developer you will be building next generation responsive, cross platform products for our customers. Proficiency with React, Node.js, Mongo DB and a strong understanding of the patterns and practices that revolve around the mobile & web app development is expected.
                p You will work on technical design and implementation of new products or enhancements and participate in all phases of the development cycle: concept, technical design, prototype, code development, testing, release to QA and implementation.
        div
          .describe__block.describe__block--reverse
            .describe__block-left

              .describe__block-media
                img(src="img/img-describe-4.png" alt="")

            .describe__block-right
              p.describe__block-title DevOps Engineer
              .describe__block-desc
                p As a DevOps engineer you will work on our projects helping clients with their transformation initiatives in automating the software delivery pipeline and running the applications in Cloud. This role involves incorporating practices like agile development, continuous integration, infrastructure as code, configuration automation and continuous delivery. Experience in release management, AWSCLI, Cloud Formation, Python, Jenkins, Puppet or Chef is expected.
        div
          .describe__block
            .describe__block-left

              .describe__block-media
                img(src="img/img-describe-5.png" alt="")

            .describe__block-right
              p.describe__block-title Microservices Architect
              .describe__block-desc
                p Software is a practice in continuous evolution. Over the last decade, microservices has become an industry phenomenon. This role is for hands-on, industry thought leaders, who are motivated to convert the buzz to reality. You will be expected to drive a product from conceptualization phase to getting it in the market successfully

// SECTION :: END
