// HEADER :: START

header#header.header

  .header__wrapper
    .header__wrapper-left

      .logo.logo--header
        a.logo__btn(href="#")
          img.logo__img(src="img/logo-white.svg" alt="")

    .header__wrapper-middle

      nav.header__nav
        a(href="#") Home
        a(href="#") Solutions
        a(href="#") Approach
        a(href="#") Careers
        a(href="#") Contact

    .header__wrapper-right

      .c-btn__wrapper
        a.c-btn.c-btn__bg.c-btn__bg--white(href="#")
          span Sign in

// HEADER :: END
