---
title: '9epic'

pageClassName: p-home
---
extends shared/_layout

block content
  div.body(class!= pageClassName)

    include components/homepage/_solution
    include components/homepage/_approach
