---
title: '9epic | Set a New Password'

pageClassName: p-new-password
---
extends shared/_layout

block footer

block content
  div.body.body--start(class!= pageClassName)

    include components/sign/_new
