<!DOCTYPE html>
<html lang="en">
<head>
  <!-- META TAGS-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=0">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <!-- TITLE-->
  <title>Epic9 | 404</title>
  <!-- FAVICON-->
  <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
  <link rel="manifest" href="/img/favicon/site.webmanifest">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&amp;family=Prompt:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">

  <!-- STYLE :: START-->
  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/app.css">
  <!-- STYLE :: END-->
</head>
<body>

<div class="body body--start p-404">

  <section id="nfound" class="nfound">
    
    <div class="nfound__wrapper nfound__wrapper-1">
      <div>

        <div class="logo logo--nfound">
          <a class="logo__btn" href="/">
            <img class="logo__img" src="img/logo-black.svg" alt="">
          </a>
        </div>

      </div>
      <div>

        <a href="contacts.html" class="nfound__link">Contact us</a>

      </div>
    </div>

    <div class="nfound__wrapper nfound__wrapper-2">
      <div>
        
        <div class="nfound__content">
          <div>
            
            <h1 class="nfound__title">Sorry, this page isn’t available</h1>
            <p class="nfound__desc">The page you were looking for couldn’t be found.</p>
            <a href="index.html" class="nfound__btn">Go back to the Home page</a>
            
          </div>
          <div>
            <img src="img/img-404.svg" alt="">
          </div>
        </div>
        
      </div>
    </div>

  </section>
  
</div>

</body>
</html>
