<!DOCTYPE html>
<html lang="en">
<head>
  <!-- META TAGS-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=0">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <!-- TITLE-->
  <title>9epic | Contacts</title>
  <!-- FAVICON-->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&amp;family=Prompt:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.5.0/swiper-bundle.min.css" integrity="sha512-T9Nrm9JU37BvYFgjYGVYc8EGnpd3nPDz/NY19X6gsNjb0VHorik8KDBljLHvqWdqz9igNqTBvZY4oCJQer4Xtg==" crossorigin="anonymous">
  <!--script(src="https://unpkg.com/@lottiefiles/lottie-interactivity@latest/dist/lottie-interactivity.min.js")-->
  <!-- STYLE :: START-->
  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/app.css">
  <!-- STYLE :: END-->
</head>
<body>
<!-- HEADER :: START-->
<header class="header" id="header">
  <div class="header__wrapper">
    <div class="header__wrapper-left">

      <div class="logo logo--header">
        <a class="logo__btn" href="/">
          <img class="logo__img logo__img--desktop" src="img/logo-white.svg" alt="">
          <img class="logo__img logo__img--mobile" src="img/logo-color.svg" alt="">
        </a>
      </div>

    </div>
    <div class="header__wrapper-middle" mobile-block-js>
      <nav class="header__nav">
        <a href="/index.html#main" desktop-nav-js>Home</a>
        <a href="/index.html#submain" mobile-nav-js>Home</a>
        <a href="/index.html#solution">Solutions</a>
        <a href="/index.html#approach">Approach</a>
        <a href="/career.html">Careers</a>
        <a href="#">Contact</a>
      </nav>
    </div>
    <div class="header__wrapper-right">
      <div class="header__btn c-btn__wrapper">
        <a class="c-btn c-btn__bg c-btn__bg--white" href="#">
          <span>Sign in</span>
        </a>
      </div>

      <a href="#" class="hamburger hamburger--squeeze" hamburger-js>
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </a>
    </div>
  </div>
</header>
<!-- HEADER :: END-->

<div class="body body--start p-contacts">
  <!-- SECTION :: START-->
  <section class="contacts" id="contacts">
    <div class="contacts__bg"><img src="img/img-contacts-main.png" alt=""></div>
    <div class="c-grid">
      <div class="contacts__wrapper contacts__wrapper-1">
        <h1 class="contacts__title">Welcome to <br>Epic9</h1>
        <p class="contacts__slogan">Everything we do at Epic9 is about Customer Delight and delivering the promise of NextGen technologies</p>
      </div>
      <div class="contacts__wrapper contacts__wrapper-2">
        <p>At Epic9, we build the Foundation for Digital Innovation. We are a solution-led Cloud consulting company driven by a passion for delivering the “Faster, Better, Cheaper” promise of Cloud, Automation, and NextGen technologies. We build innovative technology solutions to address today’s enterprise challenges and to put our clients on a transformation journey to become the enterprise of the future. We take next gen technologies and turn them in to solutions for your enterprise. Our consultants have deep subject matter expertise in Cloud, Automation, DevOps and Open Source technologies.</p>
      </div>
    </div>
  </section>
  <!-- SECTION :: END-->
  <!-- SECTION :: START-->
  <section class="office" id="office">
    <div class="c-grid">
      <div class="office__wrapper office__wrapper-1">
        <p class="office__title">Our offices</p>
        <div class="office__block-wrapper">
          <div>
            <div class="office__block">
              <div class="office__block-head">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3041.784474491963!2d-74.65031818401404!3d40.324940579375976!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c3e12ef2ae5901%3A0x25d4731fc3d1aae1!2s100%20Overlook%20Center%202nd%20floor%2C%20Princeton%2C%20NJ%2008540%2C%20USA!5e0!3m2!1sen!2sua!4v1617636628608!5m2!1sen!2sua" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
              </div>
              <div class="office__block-body">
                <p>Princeton</p>
                <span>100 Overlook Center, 2 nd Floor, Princeton, NJ 08540, USA</span>
              </div>
            </div>
          </div>
          <div>
            <div class="office__block">
              <div class="office__block-head">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3806.0420787438925!2d78.36356961561916!3d17.457699988036612!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb93c8c1f8d625%3A0xa730c02128c3d768!2sMytri%20Square!5e0!3m2!1sen!2sua!4v1617636652874!5m2!1sen!2sua" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
              </div>
              <div class="office__block-body">
                <p>Hyderabad</p>
                <span>Mytri Square, 2-41/11, 6/2, Gachibowli - Miyapur Road, Prashanth Nagar Colony, Hyderabad, Telangana 500084, India</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="office__wrapper office__wrapper-2">
        <div class="office__box-wrapper">
          <div>
            <div class="office__box">
              <div>
                <div class="office__box-icon"><i class="icon-font icon-governance"></i></div>
                <p class="office__box-title">Request a Demo</p>
                <p class="office__box-desc">Request a demonstration of our BuiltRight Cloud Foundation and HeadStart Digital Accelerator.</p>
                <div class="c-btn__wrapper">
                  <a class="c-btn c-btn__border c-btn__border--dark" anchor-js href="#footer">
                    <span>Request a Demo</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="office__box">
              <div>
                <div class="office__box-icon"><i class="icon-font icon-terminal"></i></div>
                <p class="office__box-title">Sales Inquiry</p>
                <p class="office__box-desc">Reach out to our sales team directly for immediate assistance with all sales related inquires.</p>
                <div class="c-btn__wrapper">
                  <a class="c-btn c-btn__border c-btn__border--dark" anchor-js href="#footer">
                    <span>Reach out</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="office__box">
              <div>
                <div class="office__box-icon"><i class="icon-font icon-eye"></i></div>
                <p class="office__box-title">Sign up</p>
                <p class="office__box-desc">Register for access to BuiltRight Cloud Foundation and HeadStart Digital Accelerator products.</p>
                <div class="c-btn__wrapper">
                  <a class="c-btn c-btn__border c-btn__border--dark" href="#">
                    <span>Sign up</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- SECTION :: END-->
</div>
<!-- FOOTER :: START-->
<footer class="footer" id="footer">
  <div class="footer__bg"></div>
  <div class="c-grid">
    <div class="footer__wrapper footer__wrapper-1">
      <div class="footer__wrapper-bg"></div>
      <form class="footer__form" action="" method="" autocomplete="off">
        <p class="footer__form-title">Want us to get back to you?</p>
        <div class="footer__form-group">
          <div>
            <div class="footer__form-field">
              <label><span>First Name*</span>
                <input type="text" placeholder="Enter your first name">
              </label>
            </div>
          </div>
          <div>
            <div class="footer__form-field">
              <label><span>last Name*</span>
                <input type="text" placeholder="Enter your last name">
              </label>
            </div>
          </div>
          <div>
            <div class="footer__form-field">
              <label><span>Business email*</span>
                <input type="email" placeholder="example@mymail.com">
              </label>
            </div>
          </div>
        </div>
        <div class="footer__form-group">
          <div>
            <div class="footer__form-field">
              <label><span>Mobile number</span>
                <input type="text" placeholder="Phone number">
              </label>
            </div>
          </div>
          <div>
            <div class="footer__form-field">
              <label><span>job title</span>
                <input type="text" placeholder="Enter here a job title">
              </label>
            </div>
          </div>
          <div>
            <div class="footer__form-field">
              <label><span>organization</span>
                <input type="text" placeholder="Enter your organization">
              </label>
            </div>
          </div>
        </div>
        <div class="footer__form-field">
          <label><span>your message for us</span>
            <textarea placeholder="How can we help you?"></textarea>
          </label>
        </div>
        <div class="footer__form-field footer__form-field--btn">
          <div class="c-btn__wrapper">
            <button class="c-btn c-btn__border" type="button"><span>Send</span></button>
          </div>
        </div>
      </form>
    </div>
    <div class="footer__wrapper footer__wrapper-2">
      <div>
        <div>
          <p class="footer__heading">Interested to work with us?</p>
          <p class="footer__address">100 Overlook Center, 2 nd Floor, Princeton, NJ 08540, USA <img src='img/img-usa.svg'></p>
        </div>
        <div>
          <p class="footer__heading">Interested to work with us?</p>
          <p class="footer__address">Mytri Square, 2-41/11, 6/2, Gachibowli - Miyapur Road, Prashanth Nagar Colony, Hyderabad, Telangana 500084, India <img src='img/img-india.svg'></p>
        </div>
      </div>
      <div>
        <div>
          <p class="footer__heading">Contact us</p>
          <a class="footer__link" href="#">+1 (732) 328-9119</a>
        </div>
        <div>
          <p class="footer__heading">Have a question?</p>
          <a class="footer__link" href="#">info@epic9.io</a>
        </div>
      </div>
    </div>
    <div class="footer__wrapper footer__wrapper-3">
      <div>
        <div class="logo logo--footer"><a class="logo__btn" href="#"><img class="logo__img" src="img/logo-color.svg" alt=""></a></div>
      </div>
      <div>
        <p class="footer__title">Foundation for Digital Innovation</p>
        <p class="footer__desc">Epic9 is a solution-led Cloud consulting company driven by a passion for delivering the “Faster, Better, Cheaper” promise of Cloud, Automation, and NextGen technologies.</p>
      </div>
      <div>
        <div class="c-btn__wrapper">
          <a class="c-btn c-btn__border" href="#footer" anchor-js><span>Contact us</span></a>
          <a class="c-btn c-btn__bg" href="#"><span>Sign up</span></a></div>
      </div>
    </div>
    <div class="footer__wrapper footer__wrapper-4">
      <div class="copyright">
        <p class="copyright__text">Copyright ©Epic9 2021. All rights reserved</p>
      </div>
    </div>
  </div>
</footer>
<!-- FOOTER :: END-->
</body>
<!-- SCRIPT :: START-->
<script src="js/vendor.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.5.0/swiper-bundle.min.js" integrity="sha512-VfcksjYXPZW36rsAGxeRGdB0Kp/htJF9jY5nlofHtRtswIB+scY9sbCJ5FdpdqceRRkpFfHZ3a9AHuoL4zjG5Q==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/ScrollMagic.min.js" integrity="sha512-8E3KZoPoZCD+1dgfqhPbejQBnQfBXe8FuwL4z/c8sTrgeDMFEnoyTlH3obB4/fV+6Sg0a0XF+L/6xS4Xx1fUEg==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/plugins/debug.addIndicators.min.js" integrity="sha512-RvUydNGlqYJapy0t4AH8hDv/It+zKsv4wOQGb+iOnEfa6NnF2fzjXgRy+FDjSpMfC3sjokNUzsfYZaZ8QAwIxg==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/plugins/animation.gsap.min.js" integrity="sha512-5/OHwmQzDSBS0Ous4/hlYoWLHd06/d2r7LdKZQVBXOA6PvOqWVXtdboiLTU7lQTGyVoKVTNkwi0ol4gHGlw5ww==" crossorigin="anonymous"></script>
<!--script(src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js")-->
<!--script(src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js")-->
<script src="js/app.js"></script>
<!-- SCRIPT :: END-->
</html>
