// SECTION :: START

.main {
	padding-top: 356px;
	padding-bottom: 200px;

	&__wrapper {
		position: relative;
		display: flex;

		&-1 {
			.main__wrapper-left {
				padding-bottom: 600px;
			}
		}
		&-2 {
			.main__wrapper-left {
				padding-bottom: 1000px;
			}
		}
		&-3 {
			z-index: 3;
			.main__wrapper-left {
				padding-bottom: 800px;
			}
		}
		&-4 {
			z-index: 2;
			.main__wrapper-left {
				padding-bottom: 1200px;
			}
		}
		&-5 {
			.main__wrapper-left {
				padding-bottom: 800px;
			}
		}

		&-left,
		&-right {
			width: 50%;
		}

		&-left {
			> div {
				width: 100%;
				max-width: 465px;
			}
		}

		&-right {
			display: flex;
			align-items: flex-start;
			justify-content: center;

			> div {
				position: sticky;
				top: 50%;
				transform: translateY(-50%);
			}

			video,
			svg,
			img {
				visibility: hidden;
				display: block;
				max-width: 100%;
				height: auto;
				max-height: 100%;
				margin-left: auto;
				margin-right: auto;
				backface-visibility: hidden;
				transform-origin: center;
			}
		}
	}

	&__title {
		font-weight: bold;
		font-size: 72px;
		line-height: 109px;
		color: #121E31;
	}

	&__subtitle {
		padding-bottom: 20px;
		font-weight: 600;
		font-size: 36px;
		line-height: 54px;
		color: #121E31;
	}

	&__desc {
		padding-bottom: 60px;
		font-family: 'Open Sans', sans-serif;
		font-size: 20px;
		line-height: 30px;
		color: #636B73;
	}

	&__heading {
		font-weight: bold;
		font-size: 48px;
		line-height: 73px;
		color: #121E31;
	}

	&__label {
		padding-bottom: 20px;
		font-weight: 600;
		font-size: 24px;
		line-height: 36px;
		color: #121E31;
	}

	.c-btn {
		min-width: 200px;
		height: 69px;

		span {
			font-weight: bold;
			font-size: 17px;
			line-height: 23px;
		}
	}
}

// SECTION :: END
