// SECTION :: START

section#approach.approach
  .c-grid
    .approach__wrapper

      p.approach__title.c-title Approach

      .approach__tab-wrapper

        .approach__tab-header
          a.approach__tab.is-active(href="#" data-tab-id='0')
            div
              i.icon-font.icon-cloud
            div
              span BuiltRight
              p Cloud Foundation
          a.approach__tab(href="#" data-tab-id='1')
            div
              i.icon-font.icon-rocket
            div
              span HeadStart
              p Digital Accelerators
          a.approach__tab(href="#" data-tab-id='2')
            div
              i.icon-font.icon-cloud-check
            div
              span ZeroFriction
              p Operations Readiness

        .approach__tab-body

          .approach__subtitle
            p Delivered in 4 weeks, it’s your fastest path to value in AWS.... guaranteed!

        .approach__tab-footer

          .approach__tab-content(style='display: block;' data-tab-content='0')

            .approach__tab-section
              div
                .approach__tab-heading
                  div
                    div
                      i.icon-font.icon-database
                    div
                      p Assess
                  div
                    span 2 days
                .approach__tab-desc
                  p Collaborative and guided Discovery Workshop to assess the current state, understand business objectives, and to identify key drivers and requirements for target state
                  ul
                    li
                      div
                        i.icon-font.icon-list-dots
                      div
                        span Review current state architecture and infrastructure code
                    li
                      div
                        i.icon-font.icon-list-dots
                      div
                        span Identify early adopters (applications to be migrated to cloud and/or to be built natively in Cloud)
                    li
                      div
                        i.icon-font.icon-list-dots
                      div
                        span Finalize the key foundational cloud capabilities for enterprise-wide use
                    li
                      div
                        i.icon-font.icon-list-dots
                      div
                        span Designate stakeholders for design & build reviews

            .approach__tab-section
              div
                .approach__tab-heading
                  div
                    div
                      i.icon-font.icon-pen
                    div
                      p Design
                  div
                    span 3 days
                .approach__tab-desc
                  p Target state Design Workshops to define a flexible and future proof architecture for each of the foundational capabilities aligned with AWS Well-Architected Framework
                  ul
                    li
                      div
                        i.icon-font.icon-list-dots
                      div
                        span Review and tailor out-of-the-box design blueprints that leverage industry best practices
                    li
                      div
                        i.icon-font.icon-list-dots
                      div
                        span Comprehensive policies and controls aligned to CIS, NIST CSF, PCI-DSS
                    li
                      div
                        i.icon-font.icon-list-dots
                      div
                        span Centralized mechanism to manage secrets, intelligently detect & respond to threats, identify vulnerabilities and secure end-points
                    li
                      div
                        i.icon-font.icon-list-dots
                      div
                        span Centrally managed just-in-time and just-enough role-based access control that seamlessly works across on-prem and public cloud
                    li
                      div
                        i.icon-font.icon-list-dots
                      div
                        span AWS account framework that is aligned to the environment strategy of the applications, fulfills the financial accounting needs of the organization and minimizes the blast-radius
                    li
                      div
                        i.icon-font.icon-list-dots
                      div
                        span Comprehensive hybrid cloud network architecture that is highly resilient, secure and scalable
                    li
                      div
                        i.icon-font.icon-list-dots
                      div
                        span Operational capabilities that are fully automated (including image management, patch management, and private DNS)
                    li
                      div
                        i.icon-font.icon-list-dots
                      div
                        span Consistent enforcement of guardrails, controls, quotas, budgets, etc. across the cloud footprint to ensure compliance with IT policies and regulatory requirements
                    li
                      div
                        i.icon-font.icon-list-dots
                      div
                        span Centralized monitoring & logging, unified visualization, and correlation of different security & operational events
                    li
                      div
                        i.icon-font.icon-list-dots
                      div
                        span Centralized control of data protection from failures, security breaches, data leaks and disasters
                    li
                      div
                        i.icon-font.icon-list-dots
                      div
                        span 3rd party tool integrations

            .approach__tab-section
              div
                .approach__tab-heading
                  div
                    div
                      i.icon-font.icon-build
                    div
                      p Build
                  div
                    span 5-10 days
                .approach__tab-desc
                  p Implement a fully operational and production-ready cloud foundation for enterprise-wide use using infrastructure as code integrating the right AWS services and 3rd party products
                  ul
                    li
                      div
                        i.icon-font.icon-list-dots
                      div
                        span Gather required configuration information
                    li
                      div
                        i.icon-font.icon-list-dots
                      div
                        span Deploy selected capabilities and features in a “cloud-lab” environment
                    li
                      div
                        i.icon-font.icon-list-dots
                      div
                        span Demo & walk-through of foundational capabilities to key stakeholders

            .approach__tab-section
              div
                .approach__tab-heading
                  div
                    div
                      i.icon-font.icon-circle-checked
                    div
                      p Validate
                  div
                    span 5 days
                .approach__tab-desc
                  p Perform testing, validation, and production readiness certification in preparation for application onboarding
                  ul
                    li
                      div
                        i.icon-font.icon-list-dots
                      div
                        span Validate the deployed cloud foundation is configured appropriately
                    li
                      div
                        i.icon-font.icon-list-dots
                      div
                        span Perform comprehensive end-to-end testing to certify all the capabilities deployed are production ready
                    li
                      div
                        i.icon-font.icon-list-dots
                      div
                        span Provide comprehensive documentation of built out cloud foundation (architecture, policies, and controls)
                    li
                      div
                        i.icon-font.icon-list-dots
                      div
                        span Train cloud engineering and operations teams
                    li
                      div
                        i.icon-font.icon-list-dots
                      div
                        span Sign-off and handover

          .approach__tab-content(data-tab-content='1')

            .approach__tab-section
              div
                .approach__tab-heading
                  div
                    div
                      i.icon-font.icon-database
                    div
                      p Assess
                  div
                    span 2 days
                .approach__tab-desc
                  p Collaborative and guided Discovery Workshop to assess the current state, understand business objectives, and to identify key drivers and requirements for target state
                  ul
                    li
                      div
                        i.icon-font.icon-list-dots
                      div
                        span Review current state architecture and infrastructure code
                    li
                      div
                        i.icon-font.icon-list-dots
                      div
                        span Identify early adopters (applications to be migrated to cloud and/or to be built natively in Cloud)
                    li
                      div
                        i.icon-font.icon-list-dots
                      div
                        span Finalize the key foundational cloud capabilities for enterprise-wide use
                    li
                      div
                        i.icon-font.icon-list-dots
                      div
                        span Designate stakeholders for design & build reviews

            .approach__tab-section
              div
                .approach__tab-heading
                  div
                    div
                      i.icon-font.icon-pen
                    div
                      p Design
                  div
                    span 3 days
                .approach__tab-desc
                  p Target state Design Workshops to define a flexible and future proof architecture for each of the foundational capabilities aligned with AWS Well-Architected Framework
                  ul
                    li
                      div
                        i.icon-font.icon-list-dots
                      div
                        span Review and tailor out-of-the-box design blueprints that leverage industry best practices
                    li
                      div
                        i.icon-font.icon-list-dots
                      div
                        span Comprehensive policies and controls aligned to CIS, NIST CSF, PCI-DSS
                    li
                      div
                        i.icon-font.icon-list-dots
                      div
                        span Centralized mechanism to manage secrets, intelligently detect & respond to threats, identify vulnerabilities and secure end-points
                    li
                      div
                        i.icon-font.icon-list-dots
                      div
                        span Centrally managed just-in-time and just-enough role-based access control that seamlessly works across on-prem and public cloud
                    li
                      div
                        i.icon-font.icon-list-dots
                      div
                        span AWS account framework that is aligned to the environment strategy of the applications, fulfills the financial accounting needs of the organization and minimizes the blast-radius
                    li
                      div
                        i.icon-font.icon-list-dots
                      div
                        span Comprehensive hybrid cloud network architecture that is highly resilient, secure and scalable
                    li
                      div
                        i.icon-font.icon-list-dots
                      div
                        span Operational capabilities that are fully automated (including image management, patch management, and private DNS)
                    li
                      div
                        i.icon-font.icon-list-dots
                      div
                        span Consistent enforcement of guardrails, controls, quotas, budgets, etc. across the cloud footprint to ensure compliance with IT policies and regulatory requirements
                    li
                      div
                        i.icon-font.icon-list-dots
                      div
                        span Centralized monitoring & logging, unified visualization, and correlation of different security & operational events
                    li
                      div
                        i.icon-font.icon-list-dots
                      div
                        span Centralized control of data protection from failures, security breaches, data leaks and disasters
                    li
                      div
                        i.icon-font.icon-list-dots
                      div
                        span 3rd party tool integrations

            .approach__tab-section
              div
                .approach__tab-heading
                  div
                    div
                      i.icon-font.icon-build
                    div
                      p Build
                  div
                    span 5-10 days
                .approach__tab-desc
                  p Implement a fully operational and production-ready cloud foundation for enterprise-wide use using infrastructure as code integrating the right AWS services and 3rd party products
                  ul
                    li
                      div
                        i.icon-font.icon-list-dots
                      div
                        span Gather required configuration information
                    li
                      div
                        i.icon-font.icon-list-dots
                      div
                        span Deploy selected capabilities and features in a “cloud-lab” environment
                    li
                      div
                        i.icon-font.icon-list-dots
                      div
                        span Demo & walk-through of foundational capabilities to key stakeholders

            .approach__tab-section
              div
                .approach__tab-heading
                  div
                    div
                      i.icon-font.icon-circle-checked
                    div
                      p Validate
                  div
                    span 5 days
                .approach__tab-desc
                  p Perform testing, validation, and production readiness certification in preparation for application onboarding
                  ul
                    li
                      div
                        i.icon-font.icon-list-dots
                      div
                        span Validate the deployed cloud foundation is configured appropriately
                    li
                      div
                        i.icon-font.icon-list-dots
                      div
                        span Perform comprehensive end-to-end testing to certify all the capabilities deployed are production ready
                    li
                      div
                        i.icon-font.icon-list-dots
                      div
                        span Provide comprehensive documentation of built out cloud foundation (architecture, policies, and controls)
                    li
                      div
                        i.icon-font.icon-list-dots
                      div
                        span Train cloud engineering and operations teams
                    li
                      div
                        i.icon-font.icon-list-dots
                      div
                        span Sign-off and handover

          .approach__tab-content(data-tab-content='2')

            .approach__tab-section
              div
                .approach__tab-heading
                  div
                    div
                      i.icon-font.icon-database
                    div
                      p Assess
                  div
                    span 2 days
                .approach__tab-desc
                  p Collaborative and guided Discovery Workshop to assess the current state, understand business objectives, and to identify key drivers and requirements for target state
                  ul
                    li
                      div
                        i.icon-font.icon-list-dots
                      div
                        span Review current state architecture and infrastructure code
                    li
                      div
                        i.icon-font.icon-list-dots
                      div
                        span Identify early adopters (applications to be migrated to cloud and/or to be built natively in Cloud)
                    li
                      div
                        i.icon-font.icon-list-dots
                      div
                        span Finalize the key foundational cloud capabilities for enterprise-wide use
                    li
                      div
                        i.icon-font.icon-list-dots
                      div
                        span Designate stakeholders for design & build reviews

            .approach__tab-section
              div
                .approach__tab-heading
                  div
                    div
                      i.icon-font.icon-pen
                    div
                      p Design
                  div
                    span 3 days
                .approach__tab-desc
                  p Target state Design Workshops to define a flexible and future proof architecture for each of the foundational capabilities aligned with AWS Well-Architected Framework
                  ul
                    li
                      div
                        i.icon-font.icon-list-dots
                      div
                        span Review and tailor out-of-the-box design blueprints that leverage industry best practices
                    li
                      div
                        i.icon-font.icon-list-dots
                      div
                        span Comprehensive policies and controls aligned to CIS, NIST CSF, PCI-DSS
                    li
                      div
                        i.icon-font.icon-list-dots
                      div
                        span Centralized mechanism to manage secrets, intelligently detect & respond to threats, identify vulnerabilities and secure end-points
                    li
                      div
                        i.icon-font.icon-list-dots
                      div
                        span Centrally managed just-in-time and just-enough role-based access control that seamlessly works across on-prem and public cloud
                    li
                      div
                        i.icon-font.icon-list-dots
                      div
                        span AWS account framework that is aligned to the environment strategy of the applications, fulfills the financial accounting needs of the organization and minimizes the blast-radius
                    li
                      div
                        i.icon-font.icon-list-dots
                      div
                        span Comprehensive hybrid cloud network architecture that is highly resilient, secure and scalable
                    li
                      div
                        i.icon-font.icon-list-dots
                      div
                        span Operational capabilities that are fully automated (including image management, patch management, and private DNS)
                    li
                      div
                        i.icon-font.icon-list-dots
                      div
                        span Consistent enforcement of guardrails, controls, quotas, budgets, etc. across the cloud footprint to ensure compliance with IT policies and regulatory requirements
                    li
                      div
                        i.icon-font.icon-list-dots
                      div
                        span Centralized monitoring & logging, unified visualization, and correlation of different security & operational events
                    li
                      div
                        i.icon-font.icon-list-dots
                      div
                        span Centralized control of data protection from failures, security breaches, data leaks and disasters
                    li
                      div
                        i.icon-font.icon-list-dots
                      div
                        span 3rd party tool integrations

            .approach__tab-section
              div
                .approach__tab-heading
                  div
                    div
                      i.icon-font.icon-build
                    div
                      p Build
                  div
                    span 5-10 days
                .approach__tab-desc
                  p Implement a fully operational and production-ready cloud foundation for enterprise-wide use using infrastructure as code integrating the right AWS services and 3rd party products
                  ul
                    li
                      div
                        i.icon-font.icon-list-dots
                      div
                        span Gather required configuration information
                    li
                      div
                        i.icon-font.icon-list-dots
                      div
                        span Deploy selected capabilities and features in a “cloud-lab” environment
                    li
                      div
                        i.icon-font.icon-list-dots
                      div
                        span Demo & walk-through of foundational capabilities to key stakeholders

            .approach__tab-section
              div
                .approach__tab-heading
                  div
                    div
                      i.icon-font.icon-circle-checked
                    div
                      p Validate
                  div
                    span 5 days
                .approach__tab-desc
                  p Perform testing, validation, and production readiness certification in preparation for application onboarding
                  ul
                    li
                      div
                        i.icon-font.icon-list-dots
                      div
                        span Validate the deployed cloud foundation is configured appropriately
                    li
                      div
                        i.icon-font.icon-list-dots
                      div
                        span Perform comprehensive end-to-end testing to certify all the capabilities deployed are production ready
                    li
                      div
                        i.icon-font.icon-list-dots
                      div
                        span Provide comprehensive documentation of built out cloud foundation (architecture, policies, and controls)
                    li
                      div
                        i.icon-font.icon-list-dots
                      div
                        span Train cloud engineering and operations teams
                    li
                      div
                        i.icon-font.icon-list-dots
                      div
                        span Sign-off and handover


// SECTION :: END
