// SECTION :: START

section#foundation.foundation
  .c-grid

    p.foundation__title.c-title Foundation for Digital Innovation

    .foundation__wrapper

      .foundation__tab-wrapper

        .foundation__tab-header
          a.foundation__tab.is-active(href="#" data-tab-id='0')
            div
              i.icon-font.icon-cloud
            div
              p Cloud Foundation
          a.foundation__tab(href="#" data-tab-id='1')
            div
              i.icon-font.icon-rocket
            div
              p Digital Accelerators
          a.foundation__tab(href="#" data-tab-id='2')
            div
              i.icon-font.icon-cloud-check
            div
              p Operations Readiness

        .foundation__tab-body

          .foundation__tab-content(data-content-id='0' style="display: block;")

            .foundation__box-wrapper.foundation__box-wrapper-1
              div
                p.foundation__subtitle A well-architected Cloud Foundation sets the organization on an accelerated path to Digital
                p.foundation__desc Every application to be hosted in Cloud relies on foundational services like networking, identity & access management, data protection, etc. That is where a Cloud Foundation for enterprise-wide use comes into play.

              div
                .foundation__box
                  div

                    .foundation__box-icon
                      i.icon-font.icon-square-dashed
                    div
                      p.foundation__box-title Architecture
                      p.foundation__box-desc Future proof architecture that is highly resilient, secure, and scales with the organizations needs
                    p.foundation__box-link Foundation to support growth and innovation
              div
                .foundation__box
                  div
                    .foundation__box-icon
                      i.icon-font.icon-security
                    div
                      p.foundation__box-title Security
                      p.foundation__box-desc Controls to meet regulatory requirements and industry standards (CIS, NIST CSF, PCI-DSS)
                    p.foundation__box-link A secure and compliant cloud environment
              div
                .foundation__box
                  div
                    .foundation__box-icon
                      i.icon-font.icon-governance
                    div
                      p.foundation__box-title Governance
                      p.foundation__box-desc Guardrails, policies, quotas, and budgets for cloud governance
                    p.foundation__box-link Balancing user autonomy & centralized control
              div
                .foundation__box
                  div
                    .foundation__box-icon
                      i.icon-font.icon-terminal
                    div
                      p.foundation__box-title Automation
                      p.foundation__box-desc Infrastructure as code & reference pipelines for continuous application delivery
                    p.foundation__box-link Self-service & automation for better developer experience
              div
                .foundation__box
                  div
                    .foundation__box-icon
                      i.icon-font.icon-eye
                    div
                      p.foundation__box-title Visibility
                      p.foundation__box-desc Seamless integration of AWS services and complimenting 3rd party tools
                    p.foundation__box-link Better visibility for effective cloud operations

            p.foundation__describe Architecting and standing-up an enterprise-grade cloud foundation is a time consuming and multi-disciplinary undertaking. It requires deep expertise in security & regulatory requirements, network architecture, automation skills, operational support capabilities and knowledge of the latest best practices.

          .foundation__tab-content(data-content-id='1')

            .foundation__box-wrapper.foundation__box-wrapper-2
              div
                p.foundation__subtitle Digital Accelerators enable any enterprise to become as agile as a start-up by providing a “No-Ops” experience to developers
                p.foundation__desc Even a well-built Cloud Foundation doesn't deliver value unless you are able to rapidly onboard business applications. The best way to accelerate developer adoption of this organization-wide cloud capability is by providing the autonomy and self-service that the developers crave for. Provide capabilities to make them highly productive by offering a straight-through processing experience.

              div
                .foundation__box
                  div
                    .foundation__box-icon
                      i.icon-font.icon-square-dashed
                    div
                      p.foundation__box-title Dev Tools
                      p.foundation__box-desc Fully integrated developer tools from ideation to production
                    p.foundation__box-link Enable "you-build-it, you-own-it" culture
              div
                .foundation__box
                  div
                    .foundation__box-icon
                      i.icon-font.icon-governance
                    div
                      p.foundation__box-title Dev Portal
                      p.foundation__box-desc Codified and pre-built application patterns and starter kits
                    p.foundation__box-link Kickstart software projects and amplify developer productivity
              div
                .foundation__box
                  div
                    .foundation__box-icon
                      i.icon-font.icon-terminal
                    div
                      p.foundation__box-title Delivery Pipelines
                      p.foundation__box-desc Reference pipelines for continuous delivery of all application types and targets
                    p.foundation__box-link Improve software quality and accelerate time to market
              div
                .foundation__box
                  div
                    .foundation__box-icon
                      i.icon-font.icon-eye
                    div
                      p.foundation__box-title Deployment Targets
                      p.foundation__box-desc Full range of deployment targets from IaaS, CaaS, PaaS, to FaaS
                    p.foundation__box-link Support both legacy and Cloud-native applications

            p.foundation__describe The challenge in building these Digital Accelerators is compounded by the availability of a multitude of tools, wide variety of applications, and the different targets available for application deployments. It requires deep expertise in application design patterns, DevSecOps/SRE practices, software delivery pipelines, and knowledge of the latest best practices.

          .foundation__tab-content(data-content-id='2')

            .foundation__box-wrapper.foundation__box-wrapper-3
              div
                p.foundation__subtitle Enable your Enterprise IT to evolve from ITIL-based gatekeeping to being the proponent of the organizational change to DevSecOps excellence
                p.foundation__desc Agility is one of the unmet promises of cloud for many organizations because they continue to operate in the traditional model even after migrating to cloud. Unlocking the true potential of cloud for your enterprise requires a next gen operating model driven by automation, self-service and decentralization.

              div
                .foundation__box
                  div
                    .foundation__box-icon
                      i.icon-font.icon-governance
                    div
                      p.foundation__box-title Cloud Operating Model
                      p.foundation__box-desc Rewired organization minimizing silos, barriers, and handoffs and increasing collaboration
                    p.foundation__box-link Nimble and agile organization that is responsive to change
              div
                .foundation__box
                  div
                    .foundation__box-icon
                      i.icon-font.icon-terminal
                    div
                      p.foundation__box-title Process Reengineering for Cloud
                      p.foundation__box-desc Reengineered processes enabling automation, self-service, and decentralization
                    p.foundation__box-link Developer autonomy resulting in faster time to market
              div
                .foundation__box
                  div
                    .foundation__box-icon
                      i.icon-font.icon-eye
                    div
                      p.foundation__box-title Operations Playbooks
                      p.foundation__box-desc Ready-to-use guidance for operations teams that can effortlessly be used at scale to improve ops efficiency
                    p.foundation__box-link Minimal effort to transition IT operations to support cloud

            p.foundation__describe When it comes to Cloud adoption, the biggest challenge isn’t the technology - it's the people and processes that must change. For enterprises that don't take a strategic view to Cloud programs, Operations Readiness quite often becomes an after thought leading to delayed projects and unmet expectations. Just like any organizational change, it requires top-down planning and thoughtful execution.

// SECTION :: END
