// SECTION :: START

section#main.main
  .c-grid
    .main__wrapper.main__wrapper-1
      .main__wrapper-left
        div
          h1.main__title To the Cloud
          h2.main__subtitle in 4 weeks - guaranteed!
          p.main__desc The first and only fully automated comprehensive solution to design, build, and validate your Cloud Foundation.

          .c-btn__wrapper
            a.c-btn.c-btn__bg(href="#")
              span Learn more

      .main__wrapper-right

        video(autoplay loop muted)
          source(src='img/video-main-1.mp4' type='video/mp4')
          | Your browser does not support the video tag.

    .main__wrapper.main__wrapper-2
      .main__wrapper-left
        div
          p.main__heading Enterprise-ready
          p.main__label Cloud Foundation
          p.main__desc 80+ AWS services seamlessly integrated to build a comprehensive Cloud Foundation.

          .c-btn__wrapper
            a.c-btn.c-btn__bg(href="#")
              span Learn more

      .main__wrapper-right

        img(src="img/img-main-svg-1.svg" alt="")

    .main__wrapper.main__wrapper-3
      .main__wrapper-left
        div

          p.main__heading Everything
          p.main__label that your apps need in Cloud
          p.main__desc 50+ foundational Cloud capabilities & 75 features to choose from

          .c-btn__wrapper
            a.c-btn.c-btn__bg(href="#")
              span Learn more

      .main__wrapper-right

        video(autoplay loop muted)
          source(src='img/video-main-2.mp4' type='video/mp4')
          | Your browser does not support the video tag.

    .main__wrapper.main__wrapper-4
      .main__wrapper-left
        div

          p.main__heading Zero-friction
          p.main__label operations & ready from Day 1
          p.main__desc Everything that you need to transform your organization to a nimble and agile force that is responsive to change.

          .c-btn__wrapper
            a.c-btn.c-btn__bg(href="#")
              span Learn more

      .main__wrapper-right

        img(src="img/img-main-svg-2.svg" alt="")

    .main__wrapper.main__wrapper-5
      .main__wrapper-left
        div

          p.main__heading Foundation
          p.main__label for Digital Innovation
          p.main__desc Delivered at 1/4th the price and in 1/5th the time, it is your fastest path to value in Cloud.

          .c-btn__wrapper
            a.c-btn.c-btn__bg(href="#")
              span Learn more

      .main__wrapper-right

        video(autoplay loop muted)
          source(src='img/video-main-3.mp4' type='video/mp4')
          | Your browser does not support the video tag.

// SECTION :: END
