svg(xmlns='http://www.w3.org/2000/svg' width='660' height='421' viewBox='0 0 660 421' fill='none')
	defs
		filter#filter0_f(x='93.6' y='372.661' width='492' height='47.9965' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB')
			feflood(flood-opacity='0' result='BackgroundImageFix')
			feblend(mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape')
			fegaussianblur(stdDeviation='10' result='effect1_foregroundBlur')
		filter#filter1_d(x='0' y='0' width='180' height='180' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB')
			feflood(flood-opacity='0' result='BackgroundImageFix')
			fecolormatrix(in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0')
			feoffset(dx='-10' dy='4')
			fegaussianblur(stdDeviation='20')
			fecolormatrix(type='matrix' values='0 0 0 0 0.00902778 0 0 0 0 0.433333 0 0 0 0 0.190218 0 0 0 0.1 0')
			feblend(mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow')
			feblend(mode='normal' in='SourceGraphic' in2='effect1_dropShadow' result='shape')
		filter#filter2_d(x='30' y='36' width='140' height='140' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB')
			feflood(flood-opacity='0' result='BackgroundImageFix')
			fecolormatrix(in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0')
			feoffset(dy='20')
			fegaussianblur(stdDeviation='15')
			fecolormatrix(type='matrix' values='0 0 0 0 0 0 0 0 0 0.483333 0 0 0 0 0.206396 0 0 0 0.15 0')
			feblend(mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow')
			feblend(mode='normal' in='SourceGraphic' in2='effect1_dropShadow' result='shape')
		filter#filter3_d(x='120' y='0' width='180' height='180' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB')
			feflood(flood-opacity='0' result='BackgroundImageFix')
			fecolormatrix(in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0')
			feoffset(dx='-10' dy='4')
			fegaussianblur(stdDeviation='20')
			fecolormatrix(type='matrix' values='0 0 0 0 0.00902778 0 0 0 0 0.433333 0 0 0 0 0.190218 0 0 0 0.1 0')
			feblend(mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow')
			feblend(mode='normal' in='SourceGraphic' in2='effect1_dropShadow' result='shape')
		filter#filter4_d(x='150' y='36' width='140' height='140' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB')
			feflood(flood-opacity='0' result='BackgroundImageFix')
			fecolormatrix(in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0')
			feoffset(dy='20')
			fegaussianblur(stdDeviation='15')
			fecolormatrix(type='matrix' values='0 0 0 0 0 0 0 0 0 0.483333 0 0 0 0 0.206396 0 0 0 0.15 0')
			feblend(mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow')
			feblend(mode='normal' in='SourceGraphic' in2='effect1_dropShadow' result='shape')
		filter#filter5_d(x='240' y='0' width='180' height='180' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB')
			feflood(flood-opacity='0' result='BackgroundImageFix')
			fecolormatrix(in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0')
			feoffset(dx='-10' dy='4')
			fegaussianblur(stdDeviation='20')
			fecolormatrix(type='matrix' values='0 0 0 0 0.00902778 0 0 0 0 0.433333 0 0 0 0 0.190218 0 0 0 0.1 0')
			feblend(mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow')
			feblend(mode='normal' in='SourceGraphic' in2='effect1_dropShadow' result='shape')
		filter#filter6_d(x='270' y='36' width='140' height='140' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB')
			feflood(flood-opacity='0' result='BackgroundImageFix')
			fecolormatrix(in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0')
			feoffset(dy='20')
			fegaussianblur(stdDeviation='15')
			fecolormatrix(type='matrix' values='0 0 0 0 0 0 0 0 0 0.483333 0 0 0 0 0.206396 0 0 0 0.15 0')
			feblend(mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow')
			feblend(mode='normal' in='SourceGraphic' in2='effect1_dropShadow' result='shape')
		filter#filter7_d(x='360' y='0' width='180' height='180' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB')
			feflood(flood-opacity='0' result='BackgroundImageFix')
			fecolormatrix(in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0')
			feoffset(dx='-10' dy='4')
			fegaussianblur(stdDeviation='20')
			fecolormatrix(type='matrix' values='0 0 0 0 0.00902778 0 0 0 0 0.433333 0 0 0 0 0.190218 0 0 0 0.1 0')
			feblend(mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow')
			feblend(mode='normal' in='SourceGraphic' in2='effect1_dropShadow' result='shape')
		filter#filter8_d(x='390' y='36' width='140' height='140' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB')
			feflood(flood-opacity='0' result='BackgroundImageFix')
			fecolormatrix(in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0')
			feoffset(dy='20')
			fegaussianblur(stdDeviation='15')
			fecolormatrix(type='matrix' values='0 0 0 0 0 0 0 0 0 0.483333 0 0 0 0 0.206396 0 0 0 0.15 0')
			feblend(mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow')
			feblend(mode='normal' in='SourceGraphic' in2='effect1_dropShadow' result='shape')
		filter#filter9_d(x='480' y='0' width='180' height='180' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB')
			feflood(flood-opacity='0' result='BackgroundImageFix')
			fecolormatrix(in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0')
			feoffset(dx='-10' dy='4')
			fegaussianblur(stdDeviation='20')
			fecolormatrix(type='matrix' values='0 0 0 0 0.00902778 0 0 0 0 0.433333 0 0 0 0 0.190218 0 0 0 0.1 0')
			feblend(mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow')
			feblend(mode='normal' in='SourceGraphic' in2='effect1_dropShadow' result='shape')
		filter#filter10_d(x='510' y='36' width='140' height='140' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB')
			feflood(flood-opacity='0' result='BackgroundImageFix')
			fecolormatrix(in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0')
			feoffset(dy='20')
			fegaussianblur(stdDeviation='15')
			fecolormatrix(type='matrix' values='0 0 0 0 0 0 0 0 0 0.483333 0 0 0 0 0.206396 0 0 0 0.15 0')
			feblend(mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow')
			feblend(mode='normal' in='SourceGraphic' in2='effect1_dropShadow' result='shape')
		lineargradient#paint0_linear(x1='100.002' y1='71' x2='100.002' y2='101' gradientUnits='userSpaceOnUse')
			stop(stop-color='#4097D9')
			stop(offset='0.64' stop-color='#30C4A0')
			stop(offset='1' stop-color='#00B94F')
		lineargradient#paint1_linear(x1='107.744' y1='88.4241' x2='107.744' y2='99.0717' gradientUnits='userSpaceOnUse')
			stop(stop-color='#4097D9')
			stop(offset='0.64' stop-color='#30C4A0')
			stop(offset='1' stop-color='#00B94F')
		lineargradient#paint2_linear(x1='108.639' y1='91.3279' x2='108.639' y2='96.0259' gradientUnits='userSpaceOnUse')
			stop(stop-color='#4097D9')
			stop(offset='0.64' stop-color='#30C4A0')
			stop(offset='1' stop-color='#00B94F')
		lineargradient#paint3_linear(x1='215.937' y1='75.9845' x2='215.937' y2='82.8636' gradientUnits='userSpaceOnUse')
			stop(stop-color='#4097D9')
			stop(offset='0.64' stop-color='#30C4A0')
			stop(offset='1' stop-color='#00B94F')
		lineargradient#paint4_linear(x1='211.562' y1='87.8672' x2='211.562' y2='95.9972' gradientUnits='userSpaceOnUse')
			stop(stop-color='#4097D9')
			stop(offset='0.64' stop-color='#30C4A0')
			stop(offset='1' stop-color='#00B94F')
		lineargradient#paint5_linear(x1='214.999' y1='80.9882' x2='214.999' y2='101' gradientUnits='userSpaceOnUse')
			stop(stop-color='#4097D9')
			stop(offset='0.64' stop-color='#30C4A0')
			stop(offset='1' stop-color='#00B94F')
		lineargradient#paint6_linear(x1='229.082' y1='94.7463' x2='229.082' y2='99.7521' gradientUnits='userSpaceOnUse')
			stop(stop-color='#4097D9')
			stop(offset='0.64' stop-color='#30C4A0')
			stop(offset='1' stop-color='#00B94F')
		lineargradient#paint7_linear(x1='232.188' y1='75.9846' x2='232.188' y2='97.2494' gradientUnits='userSpaceOnUse')
			stop(stop-color='#4097D9')
			stop(offset='0.64' stop-color='#30C4A0')
			stop(offset='1' stop-color='#00B94F')
		lineargradient#paint8_linear(x1='215.496' y1='89.6133' x2='216.381' y2='90.4973' gradientUnits='userSpaceOnUse')
			stop(stop-color='#4097D9')
			stop(offset='0.64' stop-color='#30C4A0')
			stop(offset='1' stop-color='#00B94F')
		lineargradient#paint9_linear(x1='212.996' y1='87.1122' x2='213.88' y2='87.9962' gradientUnits='userSpaceOnUse')
			stop(stop-color='#4097D9')
			stop(offset='0.64' stop-color='#30C4A0')
			stop(offset='1' stop-color='#00B94F')
		lineargradient#paint10_linear(x1='217.994' y1='92.115' x2='218.879' y2='92.999' gradientUnits='userSpaceOnUse')
			stop(stop-color='#4097D9')
			stop(offset='0.64' stop-color='#30C4A0')
			stop(offset='1' stop-color='#00B94F')
		lineargradient#paint11_linear(x1='220.495' y1='94.6181' x2='221.38' y2='95.502' gradientUnits='userSpaceOnUse')
			stop(stop-color='#4097D9')
			stop(offset='0.64' stop-color='#30C4A0')
			stop(offset='1' stop-color='#00B94F')
		lineargradient#paint12_linear(x1='210.494' y1='84.6106' x2='211.379' y2='85.4945' gradientUnits='userSpaceOnUse')
			stop(stop-color='#4097D9')
			stop(offset='0.64' stop-color='#30C4A0')
			stop(offset='1' stop-color='#00B94F')
		lineargradient#paint13_linear(x1='225.648' y1='70.9996' x2='225.648' y2='84.6943' gradientUnits='userSpaceOnUse')
			stop(stop-color='#4097D9')
			stop(offset='0.64' stop-color='#30C4A0')
			stop(offset='1' stop-color='#00B94F')
		lineargradient#paint14_linear(x1='219.854' y1='81.2782' x2='219.854' y2='85.9915' gradientUnits='userSpaceOnUse')
			stop(stop-color='#4097D9')
			stop(offset='0.64' stop-color='#30C4A0')
			stop(offset='1' stop-color='#00B94F')
		lineargradient#paint15_linear(x1='227.196' y1='73.6942' x2='229.79' y2='76.2862' gradientUnits='userSpaceOnUse')
			stop(stop-color='#4097D9')
			stop(offset='0.64' stop-color='#30C4A0')
			stop(offset='1' stop-color='#00B94F')
		lineargradient#paint16_linear(x1='222.812' y1='84.7401' x2='222.812' y2='85.991' gradientUnits='userSpaceOnUse')
			stop(stop-color='#4097D9')
			stop(offset='0.64' stop-color='#30C4A0')
			stop(offset='1' stop-color='#00B94F')
		lineargradient#paint17_linear(x1='229.375' y1='84.7401' x2='229.375' y2='85.991' gradientUnits='userSpaceOnUse')
			stop(stop-color='#4097D9')
			stop(offset='0.64' stop-color='#30C4A0')
			stop(offset='1' stop-color='#00B94F')
		lineargradient#paint18_linear(x1='231.875' y1='84.7401' x2='231.875' y2='85.991' gradientUnits='userSpaceOnUse')
			stop(stop-color='#4097D9')
			stop(offset='0.64' stop-color='#30C4A0')
			stop(offset='1' stop-color='#00B94F')
		lineargradient#paint19_linear(x1='340' y1='71' x2='340' y2='88.6388' gradientUnits='userSpaceOnUse')
			stop(stop-color='#4097D9')
			stop(offset='0.64' stop-color='#30C4A0')
			stop(offset='1' stop-color='#00B94F')
		lineargradient#paint20_linear(x1='340.002' y1='78.0942' x2='340.002' y2='101.001' gradientUnits='userSpaceOnUse')
			stop(stop-color='#4097D9')
			stop(offset='0.64' stop-color='#30C4A0')
			stop(offset='1' stop-color='#00B94F')
		lineargradient#paint21_linear(x1='459.969' y1='83.668' x2='459.969' y2='88.3922' gradientUnits='userSpaceOnUse')
			stop(stop-color='#4097D9')
			stop(offset='0.64' stop-color='#30C4A0')
			stop(offset='1' stop-color='#00B94F')
		lineargradient#paint22_linear(x1='459.969' y1='80.6985' x2='459.969' y2='91.3617' gradientUnits='userSpaceOnUse')
			stop(stop-color='#4097D9')
			stop(offset='0.64' stop-color='#30C4A0')
			stop(offset='1' stop-color='#00B94F')
		lineargradient#paint23_linear(x1='459.971' y1='74.9161' x2='459.971' y2='81.1829' gradientUnits='userSpaceOnUse')
			stop(stop-color='#4097D9')
			stop(offset='0.64' stop-color='#30C4A0')
			stop(offset='1' stop-color='#00B94F')
		lineargradient#paint24_linear(x1='459.969' y1='71.2762' x2='459.969' y2='75.2653' gradientUnits='userSpaceOnUse')
			stop(stop-color='#4097D9')
			stop(offset='0.64' stop-color='#30C4A0')
			stop(offset='1' stop-color='#00B94F')
		lineargradient#paint25_linear(x1='459.971' y1='90.8978' x2='459.971' y2='97.1679' gradientUnits='userSpaceOnUse')
			stop(stop-color='#4097D9')
			stop(offset='0.64' stop-color='#30C4A0')
			stop(offset='1' stop-color='#00B94F')
		lineargradient#paint26_linear(x1='459.969' y1='96.8154' x2='459.969' y2='100.805' gradientUnits='userSpaceOnUse')
			stop(stop-color='#4097D9')
			stop(offset='0.64' stop-color='#30C4A0')
			stop(offset='1' stop-color='#00B94F')
		lineargradient#paint27_linear(x1='451.81' y1='85.5449' x2='451.81' y2='86.5125' gradientUnits='userSpaceOnUse')
			stop(stop-color='#4097D9')
			stop(offset='0.64' stop-color='#30C4A0')
			stop(offset='1' stop-color='#00B94F')
		lineargradient#paint28_linear(x1='447.032' y1='84.0339' x2='447.032' y2='88.0255' gradientUnits='userSpaceOnUse')
			stop(stop-color='#4097D9')
			stop(offset='0.64' stop-color='#30C4A0')
			stop(offset='1' stop-color='#00B94F')
		lineargradient#paint29_linear(x1='468.129' y1='85.5449' x2='468.129' y2='86.5125' gradientUnits='userSpaceOnUse')
			stop(stop-color='#4097D9')
			stop(offset='0.64' stop-color='#30C4A0')
			stop(offset='1' stop-color='#00B94F')
		lineargradient#paint30_linear(x1='472.906' y1='84.0339' x2='472.906' y2='88.0255' gradientUnits='userSpaceOnUse')
			stop(stop-color='#4097D9')
			stop(offset='0.64' stop-color='#30C4A0')
			stop(offset='1' stop-color='#00B94F')
		lineargradient#paint31_linear(x1='467.957' y1='74.4419' x2='467.957' y2='81.6455' gradientUnits='userSpaceOnUse')
			stop(stop-color='#4097D9')
			stop(offset='0.64' stop-color='#30C4A0')
			stop(offset='1' stop-color='#00B94F')
		lineargradient#paint32_linear(x1='472.38' y1='70.9998' x2='472.38' y2='76.2413' gradientUnits='userSpaceOnUse')
			stop(stop-color='#4097D9')
			stop(offset='0.64' stop-color='#30C4A0')
			stop(offset='1' stop-color='#00B94F')
		lineargradient#paint33_linear(x1='452.043' y1='74.4419' x2='452.043' y2='81.6455' gradientUnits='userSpaceOnUse')
			stop(stop-color='#4097D9')
			stop(offset='0.64' stop-color='#30C4A0')
			stop(offset='1' stop-color='#00B94F')
		lineargradient#paint34_linear(x1='447.621' y1='70.9998' x2='447.621' y2='76.2413' gradientUnits='userSpaceOnUse')
			stop(stop-color='#4097D9')
			stop(offset='0.64' stop-color='#30C4A0')
			stop(offset='1' stop-color='#00B94F')
		lineargradient#paint35_linear(x1='467.955' y1='90.3549' x2='467.955' y2='97.5585' gradientUnits='userSpaceOnUse')
			stop(stop-color='#4097D9')
			stop(offset='0.64' stop-color='#30C4A0')
			stop(offset='1' stop-color='#00B94F')
		lineargradient#paint36_linear(x1='472.38' y1='95.7637' x2='472.38' y2='101' gradientUnits='userSpaceOnUse')
			stop(stop-color='#4097D9')
			stop(offset='0.64' stop-color='#30C4A0')
			stop(offset='1' stop-color='#00B94F')
		lineargradient#paint37_linear(x1='452.043' y1='90.3544' x2='452.043' y2='97.558' gradientUnits='userSpaceOnUse')
			stop(stop-color='#4097D9')
			stop(offset='0.64' stop-color='#30C4A0')
			stop(offset='1' stop-color='#00B94F')
		lineargradient#paint38_linear(x1='447.621' y1='95.7581' x2='447.621' y2='101' gradientUnits='userSpaceOnUse')
			stop(stop-color='#4097D9')
			stop(offset='0.64' stop-color='#30C4A0')
			stop(offset='1' stop-color='#00B94F')
		lineargradient#paint39_linear(x1='582.637' y1='77.0162' x2='582.637' y2='90.31' gradientUnits='userSpaceOnUse')
			stop(stop-color='#4097D9')
			stop(offset='0.64' stop-color='#30C4A0')
			stop(offset='1' stop-color='#00B94F')
		lineargradient#paint40_linear(x1='579.998' y1='74' x2='579.998' y2='97.9965' gradientUnits='userSpaceOnUse')
			stop(stop-color='#4097D9')
			stop(offset='0.64' stop-color='#30C4A0')
			stop(offset='1' stop-color='#00B94F')
	g#pc
		g#pc-shadow
			g(opacity='0.7' filter='url(#filter0_f)')
				path(opacity='0.7' d='M339.6 400.657C464.416 400.657 565.6 398.867 565.6 396.659C565.6 394.451 464.416 392.661 339.6 392.661C214.784 392.661 113.6 394.451 113.6 396.659C113.6 398.867 214.784 400.657 339.6 400.657Z' fill='black')

		g#pc-top
			path(d='M573.928 86.8147C573.928 132.004 573.957 177.22 573.957 222.409C573.957 231.436 573.957 240.463 573.957 249.489C573.957 285.651 573.957 321.841 573.928 358.003C537.241 358.114 500.555 358.003 463.868 358.059C363.327 358.059 262.756 358.059 162.215 358.059C136.609 358.031 111.004 358.114 85.3981 358.003C85.3691 267.598 85.3981 177.22 85.3981 86.8147C166.815 86.8147 248.261 86.787 329.678 86.787C411.095 86.8147 492.511 86.8147 573.928 86.8147Z' fill='#B3B3B3')
			path(d='M329.504 77.3462C328.578 77.2634 328.376 75.9107 329.215 75.5243C329.793 75.2482 330.632 75.5795 330.69 76.242C330.835 76.8769 330.17 77.5118 329.504 77.3462Z' fill='#010101')
			path(d='M328.549 73.9784C328.896 73.8128 329.273 73.73 329.649 73.73C331.182 73.73 332.687 75.055 332.484 76.6009C332.455 77.9811 331.066 79.1129 329.707 79.1129C329.33 79.1129 328.925 79.0301 328.578 78.8369C326.35 78.0915 326.379 74.7514 328.549 73.9784ZM329.215 75.5519C328.376 75.9384 328.578 77.291 329.504 77.3738C330.17 77.5394 330.806 76.9045 330.661 76.2696C330.603 75.6071 329.793 75.2758 329.215 75.5519Z' fill='white')
			path(d='M585.588 310.275C585.588 290.013 585.559 269.751 585.559 249.489V222.409C585.559 199.221 585.559 176.033 585.559 152.873C585.559 128.691 585.559 104.509 585.559 80.3275C585.617 75.0274 582.29 69.8929 577.313 67.5741C575.172 66.5252 572.771 66.0283 570.398 66.0283C567.418 66.0283 564.467 66.0283 561.516 66.0283C484.237 66.0283 406.928 66.0283 329.649 66.0283C299.211 66.0283 268.745 66.0283 238.308 66.0283C210.677 66.0283 183.046 66.0283 155.415 66.0283C133.253 66.0283 111.119 66.0283 88.9568 66.0283C86.0925 66.0007 83.2571 66.8012 80.7978 68.2091C76.5447 70.8315 73.7671 75.4967 73.825 80.3551V86.8422C73.825 170.264 73.825 253.685 73.825 337.107C73.8539 350.826 73.7671 364.573 73.8539 378.293C109.268 378.21 144.681 378.293 180.124 378.265C220.022 378.238 259.892 378.293 299.79 378.238C302.799 378.127 305.808 378.21 308.788 378.182C325.743 378.21 342.668 378.1 359.623 378.238C434.964 378.32 510.305 378.21 585.646 378.293C585.53 355.602 585.588 332.938 585.588 310.275ZM573.957 249.489C573.957 285.651 573.957 321.841 573.928 358.003C537.241 358.114 500.555 358.003 463.868 358.059H162.215C136.609 358.031 111.004 358.114 85.3981 358.003C85.3691 267.598 85.3981 177.22 85.3981 86.8146C166.815 86.8146 248.261 86.787 329.678 86.787C411.095 86.787 492.511 86.787 573.928 86.787C573.928 131.976 573.957 177.192 573.957 222.381V249.489Z' fill='#333333')
			path(d='M80.7689 68.1815C83.2282 66.7736 86.0636 65.9731 88.9279 66.0007C111.09 66.0007 133.224 66.0007 155.387 66.0007C183.017 66.0007 210.648 66.0007 238.279 66.0007C268.716 66.0007 299.183 66.0007 329.62 66.0007C406.899 66.0007 484.179 66.0007 561.487 66.0007C564.438 66.0007 567.418 66.0007 570.37 66.0007C572.771 66.0007 575.172 66.4976 577.285 67.5466C582.261 69.893 585.588 75.0274 585.53 80.2999C585.559 104.482 585.53 128.663 585.53 152.845C585.53 176.033 585.53 199.221 585.53 222.381C585.53 231.408 585.53 240.435 585.53 249.462C585.53 269.724 585.53 289.985 585.559 310.247C585.559 332.911 585.501 355.574 585.588 378.238C510.247 378.155 434.906 378.265 359.565 378.182C342.611 378.044 325.685 378.155 308.73 378.127C305.721 378.155 302.712 378.072 299.732 378.182C259.834 378.265 219.965 378.182 180.066 378.21C144.652 378.238 109.239 378.155 73.7961 378.238C73.7093 364.518 73.7961 350.771 73.7671 337.051C73.7671 253.63 73.7671 170.209 73.7671 86.787C73.7671 84.6339 73.7671 82.4531 73.7671 80.2999C73.7382 75.4691 76.5447 70.8039 80.7689 68.1815Z' stroke='#333333' stroke-width='0.1158')
			path(d='M85.3981 86.8147C85.3981 177.22 85.3981 267.598 85.3981 358.004C111.004 358.114 136.609 358.031 162.215 358.059C262.756 358.059 363.327 358.059 463.868 358.059C500.555 358.031 537.242 358.114 573.928 358.004C573.928 321.841 573.928 285.652 573.957 249.489C573.957 240.463 573.957 231.436 573.957 222.409C573.957 177.22 573.957 132.004 573.928 86.8147C492.511 86.8147 411.095 86.8147 329.678 86.8147C248.261 86.8147 166.844 86.8147 85.3981 86.8147Z' stroke='#333333' stroke-width='0.1158')
			path(d='M328.549 73.9784C328.896 73.8128 329.273 73.73 329.649 73.73C331.182 73.73 332.687 75.055 332.484 76.6009C332.455 77.9811 331.066 79.1129 329.707 79.1129C329.33 79.1129 328.925 79.0301 328.578 78.8369C326.35 78.0915 326.379 74.7514 328.549 73.9784Z' stroke='white' stroke-width='0.1158')
			path(d='M329.215 75.5519C329.793 75.2759 330.632 75.6071 330.69 76.2696C330.835 76.8769 330.17 77.5118 329.533 77.3738C328.578 77.291 328.376 75.9108 329.215 75.5519Z' stroke='#010101' stroke-width='0.1158')
		g#pc-bottom
			path(d='M29.7603 378.486C32.6825 378.21 35.6337 378.403 38.5559 378.348C50.3026 378.293 62.0783 378.459 73.825 378.265C109.239 378.182 144.652 378.265 180.095 378.238C219.993 378.21 259.863 378.265 299.761 378.21C299.732 379.839 299.298 381.799 300.571 383.151C301.352 384.035 302.626 384.2 303.754 384.2C321.056 384.173 338.329 384.173 355.63 384.2C356.846 384.2 358.234 384.007 358.987 382.986C360.028 381.605 359.652 379.784 359.623 378.21C434.964 378.293 510.305 378.182 585.646 378.265C595.686 378.514 605.754 378.21 615.794 378.403C620.279 378.955 624.792 378.514 629.306 378.762C629.479 381.026 629.392 383.262 629.277 385.525C629.161 386.381 629.508 387.154 630 387.872C628.062 387.237 626.007 387.458 624.011 387.458C427.789 387.458 231.595 387.458 35.3733 387.458C33.4348 387.458 31.4095 387.209 29.5289 387.872C29.9339 384.752 29.3553 381.605 29.7603 378.486ZM51.865 381.191C51.1995 381.937 51.3153 382.93 51.2863 383.841C51.9229 384.67 52.733 385.608 53.9481 385.553C55.1055 385.691 56.0313 384.946 56.6389 384.09L56.8414 384.035C56.7546 383.096 56.8993 382.02 56.2628 381.219C55.2501 379.922 52.9066 379.894 51.865 381.191ZM68.9353 381.109C68.0963 381.854 68.2409 383.041 68.1831 384.035L68.3856 384.09C69.3693 385.912 72.2047 386.077 73.391 384.366L73.6224 384.338C73.6514 383.345 73.9118 382.24 73.2753 381.385C72.3494 380.004 70.0348 379.811 68.9353 381.109Z' fill='#F9F9F9' stroke='#F9F9F9' stroke-width='0.1158')
			path(d='M299.761 378.21C302.77 378.1 305.779 378.182 308.759 378.155C325.714 378.182 342.64 378.072 359.594 378.21C359.623 379.784 360.028 381.605 358.958 382.986C358.205 384.007 356.817 384.2 355.601 384.2C338.3 384.173 321.027 384.173 303.725 384.2C302.597 384.2 301.324 384.035 300.542 383.151C299.298 381.799 299.732 379.839 299.761 378.21Z' fill='#999999' stroke='#999999' stroke-width='0.1158')
			path(d='M51.865 381.191C52.9066 379.866 55.2212 379.894 56.2628 381.219C56.9282 382.02 56.7836 383.068 56.8414 384.035L56.6389 384.09C55.742 384.283 54.8451 384.559 53.9192 384.587C52.9934 384.532 52.1543 384.145 51.2863 383.869C51.3153 382.93 51.2285 381.937 51.865 381.191Z' fill='#B3B3B3' stroke='#B3B3B3' stroke-width='0.1158')
			path(d='M68.9354 381.109C70.0348 379.811 72.3494 380.004 73.3042 381.385C73.9407 382.24 73.6803 383.345 73.6514 384.338L73.4199 384.366C71.7418 384.587 70.0348 384.587 68.4146 384.09L68.212 384.035C68.241 383.013 68.0963 381.854 68.9354 381.109Z' fill='#B3B3B3' stroke='#B3B3B3' stroke-width='0.1158')
			path(d='M51.2863 383.841C52.1543 384.117 52.9934 384.532 53.9192 384.559C54.8451 384.532 55.742 384.256 56.6389 384.062C56.0313 384.89 55.1055 385.663 53.9482 385.525C52.733 385.608 51.9229 384.67 51.2863 383.841Z' fill='#4E4E4E' stroke='#4E4E4E' stroke-width='0.1158')
			path(d='M68.3856 384.062C70.0059 384.559 71.7129 384.532 73.391 384.338C72.2337 386.05 69.3983 385.884 68.3856 384.062Z' fill='#4F4F4F' stroke='#4F4F4F' stroke-width='0.1158')
			path(d='M29.4999 387.872C31.3806 387.237 33.4059 387.485 35.3444 387.458C231.567 387.458 427.76 387.458 623.982 387.458C625.978 387.458 628.033 387.237 629.971 387.872C629.537 390.273 627.772 392.316 625.342 393.089C589.986 393.199 554.63 393.089 519.274 393.144C366.77 393.144 214.294 393.144 61.7889 393.144C52.5304 393.117 43.243 393.227 33.9845 393.089C31.641 392.289 29.6735 390.301 29.4999 387.872Z' fill='#B3B3B3' stroke='#B3B3B3' stroke-width='0.1158')




	g#anim2-box-1
		g(filter='url(#filter1_d)')
			path(d='M100 136C127.614 136 150 113.614 150 86C150 58.3858 127.614 36 100 36C72.3858 36 50 58.3858 50 86C50 113.614 72.3858 136 100 136Z' fill='white' fill-opacity='0.3')
			path(d='M100 135.5C127.338 135.5 149.5 113.338 149.5 86C149.5 58.6619 127.338 36.5 100 36.5C72.6619 36.5 50.5 58.6619 50.5 86C50.5 113.338 72.6619 135.5 100 135.5Z' stroke='white')
		g(filter='url(#filter2_d)')
			path(d='M100 126C122.091 126 140 108.091 140 86C140 63.9086 122.091 46 100 46C77.9086 46 60 63.9086 60 86C60 108.091 77.9086 126 100 126Z' fill='white')
		path(d='M107.744 86.4881C107.257 86.4879 106.771 86.5364 106.294 86.633V81.1636H112.585V82.6843C112.128 82.8021 111.731 83.0822 111.467 83.4722C111.202 83.8622 111.089 84.3352 111.148 84.8027C111.208 85.2701 111.436 85.6998 111.789 86.0113C112.142 86.3228 112.597 86.4947 113.068 86.4947C113.539 86.4947 113.994 86.3228 114.348 86.0113C114.701 85.6998 114.929 85.2701 114.988 84.8027C115.048 84.3352 114.935 83.8622 114.67 83.4722C114.406 83.0822 114.008 82.8021 113.552 82.6843V80.6797C113.552 80.5513 113.501 80.4282 113.411 80.3374C113.32 80.2467 113.197 80.1957 113.068 80.1957H106.29V79.2277H110.161C110.289 79.2277 110.412 79.1767 110.503 79.086C110.594 78.9952 110.645 78.8721 110.645 78.7437V76.7391C111.101 76.6213 111.498 76.3412 111.763 75.9512C112.027 75.5612 112.14 75.0881 112.081 74.6207C112.021 74.1533 111.794 73.7235 111.44 73.4121C111.087 73.1006 110.632 72.9287 110.161 72.9287C109.69 72.9287 109.235 73.1006 108.881 73.4121C108.528 73.7235 108.3 74.1533 108.241 74.6207C108.182 75.0881 108.295 75.5612 108.559 75.9512C108.823 76.3412 109.221 76.6213 109.677 76.7391V78.2597H106.29V75.3558C106.29 72.8723 101.714 71 95.6472 71C89.5808 71 85 72.8723 85 75.3558V94.7158C85 97.1994 89.5764 99.0716 95.6472 99.0716C97.8074 99.0906 99.9594 98.8053 102.04 98.224C102.799 99.1917 103.792 99.9505 104.925 100.429C106.058 100.907 107.294 101.09 108.517 100.959C109.74 100.828 110.91 100.389 111.916 99.6814C112.922 98.9742 113.732 98.0227 114.27 96.9163C114.808 95.8099 115.056 94.585 114.99 93.3565C114.924 92.1281 114.547 90.9365 113.895 89.8938C113.242 88.8511 112.335 87.9915 111.259 87.3957C110.183 86.7999 108.973 86.4876 107.744 86.4881ZM114.032 84.549C114.032 84.7404 113.975 84.9276 113.869 85.0868C113.762 85.246 113.611 85.37 113.434 85.4433C113.257 85.5165 113.063 85.5357 112.875 85.4984C112.687 85.461 112.515 85.3688 112.38 85.2335C112.244 85.0981 112.152 84.9256 112.115 84.7378C112.078 84.5501 112.097 84.3554 112.17 84.1786C112.243 84.0017 112.367 83.8505 112.526 83.7442C112.685 83.6378 112.873 83.581 113.064 83.581C113.321 83.581 113.567 83.683 113.748 83.8645C113.93 84.0461 114.032 84.2923 114.032 84.549ZM109.193 74.8719C109.193 74.6804 109.249 74.4933 109.356 74.3342C109.462 74.175 109.613 74.0509 109.79 73.9776C109.967 73.9044 110.161 73.8852 110.349 73.9225C110.536 73.9597 110.709 74.0519 110.844 74.1872C110.98 74.3225 111.072 74.4949 111.109 74.6826C111.147 74.8704 111.128 75.065 111.054 75.2419C110.981 75.4187 110.857 75.57 110.698 75.6764C110.539 75.7828 110.352 75.8397 110.161 75.8398C110.034 75.8399 109.908 75.8149 109.79 75.7663C109.673 75.7177 109.566 75.6464 109.476 75.5565C109.386 75.4666 109.315 75.3599 109.266 75.2424C109.218 75.125 109.193 74.999 109.193 74.8719ZM95.6472 71.968C101.35 71.968 105.324 73.7533 105.324 75.3558C105.324 76.9584 101.35 78.7437 95.6472 78.7437C89.9443 78.7437 85.9677 76.9584 85.9677 75.3558C85.9677 73.7533 89.9425 71.968 95.6472 71.968ZM85.9677 77.2225C87.6158 78.7185 91.2308 79.7123 95.6447 79.7123C100.059 79.7123 103.674 78.7185 105.322 77.2225V81.1643C105.322 82.7668 101.348 84.5521 95.6447 84.5521C89.9418 84.5521 85.9677 82.7668 85.9677 81.1643V77.2225ZM85.9677 83.0303C87.6158 84.5263 91.2308 85.5201 95.6447 85.5201C100.059 85.5201 103.674 84.5263 105.322 83.0303V86.9116C104.414 87.2349 103.58 87.7351 102.867 88.3831C102.154 89.0312 101.576 89.8142 101.168 90.687C99.361 91.126 97.5068 91.3412 95.6472 91.3279C89.9443 91.3279 85.9702 89.5426 85.9702 87.94L85.9677 83.0303ZM95.6472 98.1037C89.9443 98.1037 85.9702 96.3184 85.9702 94.7158V89.806C87.6183 91.3021 91.2334 92.2959 95.6472 92.2959C97.3665 92.3042 99.0819 92.131 100.765 91.7791C100.496 92.7131 100.42 93.6921 100.542 94.6563C100.664 95.6206 100.981 96.5499 101.473 97.3878C99.5707 97.8801 97.6121 98.1208 95.6472 98.1037ZM107.744 100.04C106.499 100.04 105.283 99.6712 104.248 98.98C103.214 98.2888 102.407 97.3062 101.931 96.1565C101.454 95.0067 101.33 93.7415 101.572 92.5208C101.815 91.3002 102.414 90.1789 103.294 89.2989C104.174 88.4188 105.295 87.8196 106.515 87.5768C107.735 87.3341 109 87.4589 110.15 87.9353C111.299 88.4118 112.281 89.2185 112.972 90.2535C113.663 91.2884 114.032 92.5052 114.032 93.7497C114.031 95.4177 113.369 97.0173 112.189 98.1968C111.01 99.3763 109.411 100.039 107.744 100.04Z' fill='url(#paint0_linear)')
		path(d='M107.741 88.4241C106.689 88.4246 105.66 88.7372 104.785 89.3225C103.91 89.9078 103.229 90.7395 102.826 91.7123C102.424 92.6851 102.319 93.7555 102.524 94.788C102.73 95.8206 103.237 96.769 103.981 97.5133C104.726 98.2576 105.674 98.7644 106.707 98.9696C107.739 99.1748 108.809 99.0692 109.781 98.6662C110.754 98.2632 111.585 97.5808 112.17 96.7054C112.754 95.8299 113.066 94.8007 113.066 93.7479C113.066 93.0485 112.929 92.356 112.661 91.71C112.393 91.0639 112.001 90.4769 111.507 89.9825C111.012 89.4881 110.425 89.096 109.779 88.8286C109.133 88.5612 108.441 88.4237 107.741 88.4241ZM111.144 96.464L110.506 95.8262L109.822 96.5106L110.459 97.1484C109.819 97.6629 109.045 97.9846 108.228 98.076V97.1358H107.258V98.0754C106.441 97.984 105.667 97.6622 105.027 97.1477L105.664 96.51L104.98 95.8256L104.343 96.4634C103.828 95.8225 103.507 95.0486 103.415 94.2319H104.355V93.2639H103.415C103.507 92.4472 103.828 91.6733 104.343 91.0324L104.98 91.6702L105.664 90.9858L105.027 90.348C105.667 89.8335 106.441 89.5118 107.258 89.4204V90.36H108.225V89.4204C109.042 89.5118 109.816 89.8335 110.456 90.348L109.819 90.9858L110.503 91.6702L111.14 91.0324C111.655 91.6733 111.976 92.4472 112.068 93.2639H111.128V94.2319H112.068C111.977 95.0487 111.655 95.8229 111.141 96.464H111.144Z' fill='url(#paint1_linear)')
		path(d='M108.226 91.3279H107.258V93.7478C107.258 93.8761 107.309 93.9992 107.4 94.09L109.337 96.0259L110.021 95.3415L108.227 93.5474L108.226 91.3279Z' fill='url(#paint2_linear)')
		path(d='M83.4961 16.709H84.1934C84.8451 16.709 85.3327 16.5814 85.6562 16.3262C85.9798 16.0664 86.1416 15.6904 86.1416 15.1982C86.1416 14.7015 86.0049 14.3346 85.7314 14.0977C85.4626 13.8607 85.0387 13.7422 84.46 13.7422H83.4961V16.709ZM88.2812 15.123C88.2812 16.1986 87.944 17.0212 87.2695 17.5908C86.5996 18.1605 85.6449 18.4453 84.4053 18.4453H83.4961V22H81.377V12.0059H84.5693C85.7816 12.0059 86.7021 12.2679 87.3311 12.792C87.9645 13.3115 88.2812 14.0885 88.2812 15.123Z' fill='#38C37D')
		path(d='M90.168 22V12.0059H92.2871V20.25H96.3408V22H90.168Z' fill='#38C37D')
		path(d='M104.202 22L103.478 19.6211H99.834L99.1094 22H96.8262L100.354 11.9648H102.944L106.485 22H104.202ZM102.972 17.8438C102.302 15.6882 101.924 14.4691 101.837 14.1865C101.755 13.904 101.696 13.6807 101.659 13.5166C101.509 14.0999 101.078 15.5423 100.367 17.8438H102.972Z' fill='#38C37D')
		path(d='M116.616 22H113.923L109.575 14.4395H109.514C109.6 15.7747 109.644 16.7272 109.644 17.2969V22H107.75V12.0059H110.423L114.764 19.4912H114.812C114.743 18.1924 114.709 17.2741 114.709 16.7363V12.0059H116.616V22Z' fill='#38C37D')
	g#anim2-box-2
		g(filter='url(#filter3_d)')
			path(d='M220 136C247.614 136 270 113.614 270 86C270 58.3858 247.614 36 220 36C192.386 36 170 58.3858 170 86C170 113.614 192.386 136 220 136Z' fill='white' fill-opacity='0.3')
			path(d='M220 135.5C247.338 135.5 269.5 113.338 269.5 86C269.5 58.6619 247.338 36.5 220 36.5C192.662 36.5 170.5 58.6619 170.5 86C170.5 113.338 192.662 135.5 220 135.5Z' stroke='white')
		g(filter='url(#filter4_d)')
			path(d='M220 126C242.091 126 260 108.091 260 86C260 63.9086 242.091 46 220 46C197.909 46 180 63.9086 180 86C180 108.091 197.909 126 220 126Z' fill='white')
		path(d='M209.375 75.9845C209.128 75.9845 208.885 76.033 208.657 76.1273C208.43 76.2216 208.223 76.3598 208.049 76.5341C207.875 76.7083 207.736 76.9151 207.642 77.1428C207.548 77.3704 207.5 77.6144 207.5 77.8608V82.8636H208.75V77.8608C208.75 77.6949 208.815 77.5358 208.933 77.4186C209.05 77.3013 209.209 77.2354 209.375 77.2354H224.375V75.9845H209.375Z' fill='url(#paint3_linear)')
		path(d='M209.375 94.7463C209.209 94.7463 209.05 94.6804 208.933 94.5631C208.815 94.4458 208.75 94.2868 208.75 94.1209V87.8672H207.5V94.1209C207.5 94.6185 207.697 95.0958 208.049 95.4476C208.4 95.7995 208.877 95.9972 209.375 95.9972H215.625V94.7463H209.375Z' fill='url(#paint4_linear)')
		path(d='M224.814 96.3591L209.638 81.1713C209.521 81.054 209.362 80.9882 209.196 80.9882C209.03 80.9882 208.872 81.054 208.754 81.1713L205.183 84.7445C205.066 84.8618 205 85.0209 205 85.1867C205 85.3525 205.066 85.5116 205.183 85.6289L220.362 100.817C220.42 100.875 220.489 100.921 220.565 100.952C220.64 100.984 220.722 101 220.804 101C220.886 101 220.967 100.984 221.043 100.952C221.119 100.921 221.188 100.875 221.246 100.817L224.817 97.2434C224.934 97.1258 224.999 96.9666 224.998 96.8007C224.998 96.6349 224.932 96.476 224.814 96.3591ZM220.801 99.4895L206.509 85.1867L209.196 82.4978L223.491 96.8013L220.801 99.4895Z' fill='url(#paint5_linear)')
		path(d='M232.5 94.7463H223.125V95.9992H229.999V99.1263C229.999 99.2922 230.065 99.4513 230.183 99.5686C230.3 99.6859 230.459 99.7518 230.625 99.7518H232.5C232.831 99.7571 233.161 99.6964 233.469 99.5731C233.777 99.4498 234.057 99.2664 234.294 99.0336C234.53 98.8008 234.718 98.5232 234.846 98.2171C234.974 97.9109 235.04 97.5823 235.04 97.2504C235.04 96.9184 234.974 96.5898 234.846 96.2837C234.718 95.9775 234.53 95.7 234.294 95.4672C234.057 95.2343 233.777 95.0509 233.469 94.9276C233.161 94.8043 232.831 94.7436 232.5 94.749V94.7463ZM232.5 98.4983H231.252V95.9992H232.502C232.833 95.9992 233.151 96.131 233.386 96.3655C233.62 96.6001 233.752 96.9183 233.752 97.25C233.752 97.5818 233.62 97.9 233.386 98.1345C233.151 98.3691 232.833 98.5009 232.502 98.5009L232.5 98.4983Z' fill='url(#paint6_linear)')
		path(d='M232.499 75.9846H229.376V77.2374H232.501C232.832 77.2374 233.15 77.3692 233.385 77.6038C233.619 77.8384 233.751 78.1566 233.751 78.4883V97.2494H235.001V78.4864C235.001 78.1577 234.936 77.8322 234.811 77.5286C234.685 77.2249 234.501 76.9491 234.268 76.7167C234.036 76.4844 233.76 76.3001 233.457 76.1745C233.153 76.0489 232.828 75.9844 232.499 75.9846Z' fill='url(#paint7_linear)')
		path(d='M216.434 88.6751L214.558 90.5515L215.442 91.436L217.318 89.5596L216.434 88.6751Z' fill='url(#paint8_linear)')
		path(d='M213.933 86.174L212.058 88.0504L212.942 88.9349L214.817 87.0585L213.933 86.174Z' fill='url(#paint9_linear)')
		path(d='M218.932 91.1768L217.057 93.0532L217.941 93.9377L219.816 92.0613L218.932 91.1768Z' fill='url(#paint10_linear)')
		path(d='M221.433 93.6798L219.557 95.5563L220.441 96.4408L222.317 94.5643L221.433 93.6798Z' fill='url(#paint11_linear)')
		path(d='M211.432 83.6724L209.557 85.5488L210.441 86.4333L212.316 84.5569L211.432 83.6724Z' fill='url(#paint12_linear)')
		path(d='M231.958 72.3877L231.095 71.5236C230.743 71.1873 230.275 70.9996 229.789 70.9996C229.302 70.9996 228.835 71.1873 228.483 71.5236L218.979 81.0329C218.862 81.1502 218.796 81.3092 218.796 81.4751C218.796 81.6409 218.862 81.8 218.979 81.9172L221.572 84.5109C221.629 84.5691 221.698 84.6152 221.774 84.6467C221.85 84.6781 221.931 84.6943 222.013 84.6943C222.095 84.6943 222.177 84.6781 222.253 84.6467C222.328 84.6152 222.397 84.5691 222.455 84.5109L231.958 75.0009C232.13 74.8294 232.266 74.6257 232.359 74.4015C232.451 74.1773 232.499 73.937 232.499 73.6943C232.499 73.4516 232.451 73.2113 232.359 72.9871C232.266 72.763 232.13 72.5593 231.958 72.3877ZM231.078 74.1159L222.019 83.1812L220.31 81.4718L229.37 72.4066C229.484 72.2979 229.635 72.2372 229.792 72.2372C229.949 72.2372 230.1 72.2979 230.214 72.4066L231.078 73.2714C231.19 73.3834 231.253 73.5353 231.253 73.6937C231.253 73.852 231.19 74.0039 231.078 74.1159Z' fill='url(#paint13_linear)')
		path(d='M221.813 83.476L219.115 84.3773L220.016 81.6741L218.828 81.2782L217.532 85.1684C217.5 85.2624 217.492 85.3625 217.507 85.4605C217.522 85.5585 217.56 85.6515 217.618 85.7318C217.676 85.8122 217.752 85.8777 217.84 85.9228C217.928 85.9679 218.026 85.9915 218.125 85.9915C218.191 85.9917 218.257 85.9816 218.32 85.9615L222.208 84.6643L221.813 83.476Z' fill='url(#paint14_linear)')
		path(d='M227.638 73.252L226.754 74.1365L229.346 76.7299L230.23 75.8455L227.638 73.252Z' fill='url(#paint15_linear)')
		path(d='M227.5 84.7401H218.125V85.991H227.5V84.7401Z' fill='url(#paint16_linear)')
		path(d='M230 84.7401H228.75V85.991H230V84.7401Z' fill='url(#paint17_linear)')
		path(d='M232.5 84.7401H231.25V85.991H232.5V84.7401Z' fill='url(#paint18_linear)')
		path(d='M204.005 16.9072C204.005 18.5524 203.535 19.8125 202.597 20.6875C201.662 21.5625 200.311 22 198.543 22H195.713V12.0059H198.851C200.482 12.0059 201.749 12.4365 202.651 13.2979C203.554 14.1592 204.005 15.3623 204.005 16.9072ZM201.804 16.9619C201.804 14.8154 200.856 13.7422 198.96 13.7422H197.832V20.25H198.741C200.783 20.25 201.804 19.154 201.804 16.9619Z' fill='#38C37D')
		path(d='M211.832 22H206.076V12.0059H211.832V13.7422H208.195V15.9365H211.579V17.6729H208.195V20.25H211.832V22Z' fill='#38C37D')
		path(d='M219.823 19.2246C219.823 20.127 219.497 20.8379 218.846 21.3574C218.199 21.877 217.296 22.1367 216.139 22.1367C215.072 22.1367 214.129 21.9362 213.309 21.5352V19.5664C213.983 19.8672 214.553 20.0791 215.018 20.2021C215.487 20.3252 215.915 20.3867 216.303 20.3867C216.768 20.3867 217.123 20.2979 217.369 20.1201C217.62 19.9424 217.745 19.6781 217.745 19.3271C217.745 19.1312 217.69 18.958 217.581 18.8076C217.472 18.6527 217.31 18.5046 217.096 18.3633C216.886 18.222 216.455 17.9964 215.804 17.6865C215.193 17.3994 214.735 17.1237 214.43 16.8594C214.124 16.5951 213.881 16.2874 213.698 15.9365C213.516 15.5856 213.425 15.1755 213.425 14.7061C213.425 13.8219 213.723 13.127 214.32 12.6211C214.922 12.1152 215.751 11.8623 216.809 11.8623C217.328 11.8623 217.823 11.9238 218.292 12.0469C218.766 12.1699 219.26 12.3431 219.775 12.5664L219.092 14.2139C218.559 13.9951 218.117 13.8424 217.766 13.7559C217.419 13.6693 217.077 13.626 216.74 13.626C216.339 13.626 216.032 13.7194 215.817 13.9062C215.603 14.0931 215.496 14.3369 215.496 14.6377C215.496 14.8245 215.539 14.9886 215.626 15.1299C215.713 15.2666 215.849 15.401 216.036 15.5332C216.228 15.6608 216.676 15.8932 217.383 16.2305C218.317 16.6771 218.957 17.126 219.304 17.5771C219.65 18.0238 219.823 18.5729 219.823 19.2246Z' fill='#38C37D')
		path(d='M221.635 22V12.0059H223.754V22H221.635Z' fill='#38C37D')
		path(d='M230.063 16.3877H234.028V21.5693C233.386 21.779 232.78 21.9248 232.21 22.0068C231.645 22.0934 231.066 22.1367 230.474 22.1367C228.965 22.1367 227.812 21.6947 227.015 20.8105C226.222 19.9219 225.825 18.6481 225.825 16.9893C225.825 15.376 226.285 14.1182 227.206 13.2158C228.131 12.3135 229.412 11.8623 231.048 11.8623C232.073 11.8623 233.062 12.0674 234.015 12.4775L233.311 14.1729C232.581 13.8083 231.823 13.626 231.034 13.626C230.118 13.626 229.384 13.9336 228.833 14.5488C228.282 15.1641 228.006 15.9912 228.006 17.0303C228.006 18.1149 228.227 18.9443 228.669 19.5186C229.116 20.0882 229.763 20.373 230.61 20.373C231.052 20.373 231.501 20.3275 231.957 20.2363V18.1514H230.063V16.3877Z' fill='#38C37D')
		path(d='M245.28 22H242.587L238.239 14.4395H238.178C238.264 15.7747 238.308 16.7272 238.308 17.2969V22H236.414V12.0059H239.087L243.428 19.4912H243.476C243.407 18.1924 243.373 17.2741 243.373 16.7363V12.0059H245.28V22Z' fill='#38C37D')
	g#anim2-box-3
		g(filter='url(#filter5_d)')
			path(d='M340 136C367.614 136 390 113.614 390 86C390 58.3858 367.614 36 340 36C312.386 36 290 58.3858 290 86C290 113.614 312.386 136 340 136Z' fill='white' fill-opacity='0.3')
			path(d='M340 135.5C367.338 135.5 389.5 113.338 389.5 86C389.5 58.6619 367.338 36.5 340 36.5C312.662 36.5 290.5 58.6619 290.5 86C290.5 113.338 312.662 135.5 340 135.5Z' stroke='white')
		g(filter='url(#filter6_d)')
			path(d='M340 126C362.091 126 380 108.091 380 86C380 63.9086 362.091 46 340 46C317.909 46 300 63.9086 300 86C300 108.091 317.909 126 340 126Z' fill='white')
		path(d='M354.122 71H350.606C350.373 71.0008 350.15 71.0937 349.985 71.2584C349.82 71.423 349.727 71.6461 349.727 71.879V72.758H342.486C342.304 72.2441 341.967 71.7992 341.522 71.4845C341.077 71.1698 340.545 71.0008 340 71.0008C339.455 71.0008 338.923 71.1698 338.478 71.4845C338.033 71.7992 337.697 72.2441 337.515 72.758H330.273V71.879C330.273 71.6461 330.18 71.423 330.015 71.2584C329.85 71.0937 329.627 71.0008 329.394 71H325.879C325.646 71.0008 325.423 71.0937 325.258 71.2584C325.094 71.423 325.001 71.6461 325 71.879V75.3945C325.001 75.6273 325.094 75.8504 325.258 76.0151C325.423 76.1798 325.646 76.2726 325.879 76.2735H329.394C329.627 76.2726 329.85 76.1798 330.015 76.0151C330.18 75.8504 330.273 75.6273 330.273 75.3945V74.5041H333.928C332.394 75.4791 331.111 76.8027 330.185 78.367C329.259 79.9314 328.715 81.6924 328.598 83.5066C328.01 83.7087 327.513 84.112 327.194 84.6452C326.875 85.1784 326.754 85.8073 326.853 86.4207C326.953 87.0341 327.266 87.5927 327.737 87.9978C328.208 88.4029 328.808 88.6285 329.429 88.6347C330.05 88.641 330.654 88.4274 331.133 88.0318C331.613 87.6362 331.937 87.084 332.048 86.4726C332.16 85.8613 332.052 85.2302 331.743 84.6907C331.435 84.1512 330.946 83.7381 330.362 83.5243C330.522 81.4965 331.308 79.5685 332.612 78.0069C333.915 76.4454 335.672 75.3275 337.638 74.8078C337.856 75.2487 338.193 75.6199 338.61 75.8794C339.028 76.139 339.51 76.2766 340.001 76.2766C340.493 76.2766 340.975 76.139 341.392 75.8794C341.81 75.6199 342.147 75.2487 342.364 74.8078C344.33 75.3279 346.086 76.446 347.389 78.0075C348.692 79.569 349.478 81.4968 349.638 83.5243C349.054 83.7381 348.564 84.1515 348.255 84.6913C347.946 85.2312 347.838 85.8628 347.95 86.4747C348.062 87.0865 348.386 87.6392 348.865 88.0352C349.345 88.4311 349.949 88.6449 350.571 88.6386C351.193 88.6324 351.793 88.4066 352.264 88.0012C352.736 87.5957 353.049 87.0366 353.148 86.4227C353.248 85.8087 353.127 85.1794 352.808 84.6458C352.488 84.1123 351.99 83.7088 351.402 83.5066C351.285 81.694 350.741 79.9346 349.815 78.3721C348.888 76.8096 347.606 75.4881 346.072 74.5154H349.727V75.3945C349.727 75.6273 349.82 75.8504 349.985 76.0151C350.15 76.1798 350.373 76.2726 350.606 76.2735H354.121C354.354 76.2726 354.577 76.1798 354.742 76.0151C354.906 75.8504 354.999 75.6273 355 75.3945V71.879C354.999 71.6463 354.906 71.4232 354.742 71.2586C354.577 71.0939 354.354 71.001 354.122 71ZM328.515 74.5154H326.758V72.758H328.516L328.515 74.5154ZM329.453 86.879C329.279 86.879 329.109 86.8275 328.965 86.7309C328.82 86.6343 328.707 86.497 328.641 86.3364C328.574 86.1758 328.557 85.999 328.591 85.8285C328.625 85.658 328.709 85.5014 328.831 85.3784C328.954 85.2555 329.111 85.1718 329.282 85.1379C329.452 85.104 329.629 85.1214 329.789 85.1879C329.95 85.2544 330.087 85.3671 330.184 85.5116C330.281 85.6562 330.332 85.8261 330.332 86C330.331 86.2329 330.238 86.456 330.074 86.6206C329.909 86.7853 329.686 86.8782 329.453 86.879ZM340 74.5154C339.826 74.5154 339.656 74.4639 339.512 74.3673C339.367 74.2706 339.254 74.1333 339.188 73.9727C339.121 73.812 339.104 73.6352 339.138 73.4647C339.172 73.2942 339.256 73.1375 339.379 73.0146C339.502 72.8917 339.658 72.8081 339.829 72.7742C339.999 72.7404 340.176 72.7579 340.337 72.8245C340.497 72.8911 340.635 73.0039 340.731 73.1485C340.828 73.2932 340.879 73.4632 340.879 73.6371C340.878 73.8698 340.785 74.0928 340.62 74.2573C340.456 74.4218 340.233 74.5146 340 74.5154ZM350.547 85.121C350.721 85.121 350.891 85.1725 351.035 85.2691C351.18 85.3657 351.293 85.503 351.359 85.6636C351.426 85.8242 351.443 86.001 351.409 86.1715C351.375 86.342 351.291 86.4986 351.169 86.6216C351.046 86.7445 350.889 86.8282 350.718 86.8621C350.548 86.896 350.371 86.8786 350.211 86.8121C350.05 86.7456 349.913 86.6329 349.816 86.4884C349.719 86.3438 349.668 86.1739 349.668 86C349.669 85.7671 349.762 85.544 349.926 85.3794C350.091 85.2147 350.314 85.1218 350.547 85.121ZM353.243 74.5154H351.485V72.758H353.243V74.5154Z' fill='url(#paint19_linear)')
		path(d='M347.763 89.0283L340.732 78.4814L340.724 78.4707C340.712 78.453 340.699 78.436 340.686 78.4196C340.6 78.3138 340.49 78.2293 340.366 78.173C340.242 78.1166 340.106 78.0899 339.97 78.0948C339.834 78.0998 339.7 78.1363 339.58 78.2015C339.46 78.2667 339.357 78.3588 339.279 78.4707L339.272 78.4814L332.24 89.0283C332.128 89.1976 332.078 89.4003 332.098 89.6023C332.118 89.8044 332.207 89.9933 332.35 90.1373C334.101 91.89 335.218 94.1768 335.524 96.6357C335.386 96.7466 335.254 96.8655 335.13 96.9918C334.309 97.8262 333.849 98.9506 333.85 100.122C333.851 100.354 333.944 100.578 334.108 100.742C334.273 100.907 334.496 101 334.729 101.001H345.276C345.509 101 345.732 100.907 345.897 100.742C346.061 100.578 346.154 100.354 346.155 100.122C346.156 98.9506 345.696 97.8262 344.875 96.9918C344.751 96.8655 344.619 96.7466 344.481 96.6357C344.787 94.177 345.904 91.8904 347.655 90.138C347.798 89.9937 347.887 89.8045 347.907 89.6023C347.926 89.4001 347.876 89.1974 347.763 89.0283ZM340.001 88.637C340.174 88.637 340.344 88.6886 340.489 88.7852C340.633 88.8817 340.746 89.019 340.813 89.1796C340.879 89.3403 340.897 89.517 340.863 89.6875C340.829 89.858 340.745 90.0147 340.622 90.1376C340.499 90.2605 340.343 90.3442 340.172 90.3782C340.002 90.4121 339.825 90.3947 339.664 90.3281C339.504 90.2616 339.366 90.1489 339.27 90.0044C339.173 89.8598 339.122 89.6899 339.122 89.516C339.122 89.2832 339.215 89.0601 339.38 88.8954C339.545 88.7307 339.768 88.6378 340.001 88.637ZM335.756 99.2426C335.934 98.7212 336.268 98.2672 336.713 97.9422C337.158 97.6172 337.692 97.437 338.243 97.4259H341.759C342.309 97.437 342.844 97.6172 343.289 97.9422C343.733 98.2672 344.068 98.7212 344.246 99.2426H335.756ZM342.828 95.8021C342.478 95.7129 342.118 95.6681 341.757 95.6685H338.241C337.88 95.668 337.52 95.7129 337.17 95.8021C336.757 93.4286 335.687 91.2183 334.082 89.4215L339.115 81.872V87.0321C338.529 87.2395 338.034 87.6475 337.72 88.184C337.405 88.7206 337.29 89.3512 337.395 89.9643C337.5 90.5774 337.819 91.1336 338.295 91.5345C338.77 91.9355 339.372 92.1554 339.994 92.1554C340.616 92.1554 341.218 91.9355 341.694 91.5345C342.17 91.1336 342.488 90.5774 342.593 89.9643C342.699 89.3512 342.584 88.7206 342.269 88.184C341.954 87.6475 341.46 87.2395 340.873 87.0321V81.8733L345.906 89.4228C344.304 91.2201 343.238 93.43 342.827 95.8021H342.828Z' fill='url(#paint20_linear)')
		path(d='M304.706 13.626C303.909 13.626 303.291 13.9268 302.854 14.5283C302.416 15.1253 302.197 15.9593 302.197 17.0303C302.197 19.2588 303.034 20.373 304.706 20.373C305.408 20.373 306.258 20.1976 307.256 19.8467V21.624C306.436 21.9658 305.52 22.1367 304.508 22.1367C303.054 22.1367 301.942 21.6969 301.172 20.8174C300.402 19.9333 300.017 18.6663 300.017 17.0166C300.017 15.9775 300.206 15.0684 300.584 14.2891C300.962 13.5052 301.505 12.9059 302.211 12.4912C302.922 12.0719 303.754 11.8623 304.706 11.8623C305.677 11.8623 306.652 12.097 307.632 12.5664L306.948 14.2891C306.575 14.1113 306.199 13.9564 305.82 13.8242C305.442 13.6921 305.071 13.626 304.706 13.626Z' fill='#38C37D')
		path(d='M318.46 16.9893C318.46 18.6436 318.05 19.915 317.229 20.8037C316.409 21.6924 315.233 22.1367 313.702 22.1367C312.171 22.1367 310.995 21.6924 310.175 20.8037C309.354 19.915 308.944 18.639 308.944 16.9756C308.944 15.3122 309.354 14.043 310.175 13.168C311 12.2884 312.18 11.8486 313.716 11.8486C315.252 11.8486 316.425 12.2907 317.236 13.1748C318.052 14.0589 318.46 15.3304 318.46 16.9893ZM311.166 16.9893C311.166 18.1058 311.378 18.9466 311.802 19.5117C312.226 20.0768 312.859 20.3594 313.702 20.3594C315.393 20.3594 316.238 19.236 316.238 16.9893C316.238 14.738 315.397 13.6123 313.716 13.6123C312.873 13.6123 312.237 13.8971 311.809 14.4668C311.38 15.0319 311.166 15.8727 311.166 16.9893Z' fill='#38C37D')
		path(d='M329.397 22H326.704L322.356 14.4395H322.295C322.382 15.7747 322.425 16.7272 322.425 17.2969V22H320.531V12.0059H323.204L327.545 19.4912H327.593C327.524 18.1924 327.49 17.2741 327.49 16.7363V12.0059H329.397V22Z' fill='#38C37D')
		path(d='M334.005 22H331.92V12.0059H337.648V13.7422H334.005V16.3193H337.396V18.0488H334.005V22Z' fill='#38C37D')
		path(d='M339.604 22V12.0059H341.723V22H339.604Z' fill='#38C37D')
		path(d='M348.032 16.3877H351.997V21.5693C351.354 21.779 350.748 21.9248 350.179 22.0068C349.614 22.0934 349.035 22.1367 348.442 22.1367C346.934 22.1367 345.781 21.6947 344.983 20.8105C344.19 19.9219 343.794 18.6481 343.794 16.9893C343.794 15.376 344.254 14.1182 345.175 13.2158C346.1 12.3135 347.381 11.8623 349.017 11.8623C350.042 11.8623 351.031 12.0674 351.983 12.4775L351.279 14.1729C350.55 13.8083 349.791 13.626 349.003 13.626C348.087 13.626 347.353 13.9336 346.802 14.5488C346.25 15.1641 345.975 15.9912 345.975 17.0303C345.975 18.1149 346.196 18.9443 346.638 19.5186C347.084 20.0882 347.731 20.373 348.579 20.373C349.021 20.373 349.47 20.3275 349.926 20.2363V18.1514H348.032V16.3877Z' fill='#38C37D')
		path(d='M362.518 12.0059V18.4727C362.518 19.2109 362.351 19.8581 362.019 20.4141C361.69 20.9701 361.214 21.3962 360.59 21.6924C359.965 21.9886 359.227 22.1367 358.375 22.1367C357.09 22.1367 356.092 21.8086 355.381 21.1523C354.67 20.4915 354.314 19.5892 354.314 18.4453V12.0059H356.427V18.124C356.427 18.8942 356.582 19.4593 356.892 19.8193C357.201 20.1794 357.714 20.3594 358.43 20.3594C359.122 20.3594 359.624 20.1794 359.934 19.8193C360.248 19.4548 360.405 18.8851 360.405 18.1104V12.0059H362.518Z' fill='#38C37D')
		path(d='M367.084 16.4424H367.768C368.438 16.4424 368.932 16.3307 369.251 16.1074C369.57 15.8841 369.729 15.5332 369.729 15.0547C369.729 14.5807 369.565 14.2435 369.237 14.043C368.914 13.8424 368.41 13.7422 367.727 13.7422H367.084V16.4424ZM367.084 18.165V22H364.965V12.0059H367.877C369.235 12.0059 370.24 12.2542 370.892 12.751C371.543 13.2432 371.869 13.9928 371.869 15C371.869 15.5879 371.707 16.112 371.384 16.5723C371.06 17.028 370.602 17.3857 370.01 17.6455C371.514 19.8923 372.493 21.3438 372.949 22H370.598L368.212 18.165H367.084Z' fill='#38C37D')
		path(d='M379.963 22H374.207V12.0059H379.963V13.7422H376.326V15.9365H379.71V17.6729H376.326V20.25H379.963V22Z' fill='#38C37D')
	g#anim2-box-4
		g(filter='url(#filter7_d)')
			path(d='M460 136C487.614 136 510 113.614 510 86C510 58.3858 487.614 36 460 36C432.386 36 410 58.3858 410 86C410 113.614 432.386 136 460 136Z' fill='white' fill-opacity='0.3')
			path(d='M460 135.5C487.338 135.5 509.5 113.338 509.5 86C509.5 58.6619 487.338 36.5 460 36.5C432.662 36.5 410.5 58.6619 410.5 86C410.5 113.338 432.662 135.5 460 135.5Z' stroke='white')
		g(filter='url(#filter8_d)')
			path(d='M460 126C482.091 126 500 108.091 500 86C500 63.9086 482.091 46 460 46C437.909 46 420 63.9086 420 86C420 108.091 437.909 126 460 126Z' fill='white')
		path(d='M461.847 88.3922H458.091C458.028 88.3922 457.965 88.3797 457.906 88.3554C457.847 88.3311 457.794 88.2954 457.749 88.2505C457.704 88.2055 457.668 88.1522 457.644 88.0935C457.62 88.0347 457.607 87.9718 457.607 87.9083V84.152C457.607 84.0884 457.62 84.0255 457.644 83.9667C457.668 83.908 457.704 83.8547 457.749 83.8097C457.794 83.7648 457.847 83.7291 457.906 83.7048C457.965 83.6805 458.028 83.668 458.091 83.668H461.847C461.91 83.668 461.973 83.6805 462.032 83.7048C462.091 83.7291 462.144 83.7648 462.189 83.8097C462.234 83.8547 462.269 83.908 462.294 83.9667C462.318 84.0255 462.331 84.0884 462.331 84.152V87.9087C462.331 88.0369 462.28 88.1599 462.189 88.2506C462.098 88.3413 461.975 88.3922 461.847 88.3922ZM458.575 87.4247H461.362V84.638H458.575V87.4247Z' fill='url(#paint21_linear)')
		path(d='M464.817 91.3617H455.121C454.993 91.3616 454.87 91.3106 454.779 91.2198C454.689 91.1291 454.638 91.006 454.637 90.8777V81.1825C454.637 81.1189 454.65 81.056 454.674 80.9973C454.699 80.9385 454.734 80.8852 454.779 80.8402C454.824 80.7953 454.878 80.7597 454.936 80.7353C454.995 80.711 455.058 80.6985 455.121 80.6985H464.817C464.881 80.6985 464.944 80.711 465.002 80.7353C465.061 80.7597 465.114 80.7953 465.159 80.8402C465.204 80.8852 465.24 80.9385 465.264 80.9973C465.289 81.056 465.301 81.1189 465.301 81.1825V90.8777C465.301 91.0061 465.25 91.1292 465.159 91.2199C465.069 91.3107 464.945 91.3617 464.817 91.3617ZM455.605 90.3941H464.332V81.6652H455.603L455.605 90.3941Z' fill='url(#paint22_linear)')
		path(d='M459.487 74.9161H460.455V81.1829H459.487V74.9161Z' fill='url(#paint23_linear)')
		path(d='M461.48 75.2653H458.458C458.33 75.2652 458.207 75.2142 458.116 75.1234C458.026 75.0327 457.974 74.9097 457.974 74.7813V71.7602C457.974 71.6319 458.026 71.5089 458.116 71.4181C458.207 71.3274 458.33 71.2764 458.458 71.2762H461.48C461.609 71.2764 461.732 71.3274 461.822 71.4181C461.913 71.5089 461.964 71.6319 461.964 71.7602V74.7822C461.964 74.9104 461.913 75.0333 461.822 75.1239C461.731 75.2144 461.608 75.2653 461.48 75.2653ZM458.942 74.2978H460.996V72.2442H458.942V74.2978Z' fill='url(#paint24_linear)')
		path(d='M459.487 90.8978H460.455V97.1679H459.487V90.8978Z' fill='url(#paint25_linear)')
		path(d='M461.48 100.805H458.458C458.33 100.805 458.207 100.754 458.116 100.664C458.025 100.573 457.974 100.45 457.974 100.321V97.2994C457.974 97.1711 458.025 97.048 458.116 96.9572C458.207 96.8664 458.33 96.8154 458.458 96.8154H461.48C461.609 96.8154 461.732 96.8664 461.823 96.9572C461.913 97.048 461.964 97.1711 461.964 97.2994V100.321C461.964 100.385 461.952 100.448 461.928 100.507C461.903 100.565 461.868 100.619 461.823 100.664C461.778 100.709 461.724 100.744 461.666 100.769C461.607 100.793 461.544 100.805 461.48 100.805ZM458.942 99.8378H460.996V97.7838H458.942V99.8378Z' fill='url(#paint26_linear)')
		path(d='M448.677 85.5449H454.943V86.5125H448.677V85.5449Z' fill='url(#paint27_linear)')
		path(d='M448.543 88.0255H445.521C445.392 88.0255 445.269 87.9745 445.178 87.8837C445.088 87.7929 445.037 87.6698 445.037 87.5415V84.5179C445.037 84.3896 445.088 84.2665 445.178 84.1757C445.269 84.0849 445.392 84.0339 445.521 84.0339H448.543C448.606 84.0339 448.669 84.0465 448.728 84.0708C448.786 84.0951 448.84 84.1308 448.885 84.1757C448.93 84.2206 448.965 84.274 448.99 84.3327C449.014 84.3914 449.027 84.4544 449.027 84.5179V87.5398C449.027 87.6035 449.014 87.6666 448.99 87.7255C448.966 87.7844 448.931 87.838 448.886 87.8831C448.841 87.9282 448.787 87.964 448.728 87.9885C448.67 88.0129 448.607 88.0255 448.543 88.0255ZM446.005 87.0587H448.059V85.0044H446.005V87.0587Z' fill='url(#paint28_linear)')
		path(d='M464.996 85.5449H471.262V86.5125H464.996V85.5449Z' fill='url(#paint29_linear)')
		path(d='M474.418 88.0255H471.395C471.267 88.0255 471.144 87.9745 471.053 87.8837C470.962 87.7929 470.911 87.6698 470.911 87.5415V84.5179C470.911 84.3896 470.962 84.2665 471.053 84.1757C471.144 84.0849 471.267 84.0339 471.395 84.0339H474.417C474.546 84.0339 474.669 84.0849 474.76 84.1757C474.85 84.2665 474.901 84.3896 474.901 84.5179V87.5398C474.901 87.6035 474.889 87.6665 474.865 87.7254C474.841 87.7842 474.805 87.8377 474.76 87.8828C474.716 87.9279 474.662 87.9638 474.603 87.9882C474.545 88.0127 474.482 88.0254 474.418 88.0255ZM471.88 87.0579H473.936V85.0035H471.882L471.88 87.0579Z' fill='url(#paint30_linear)')
		path(d='M464.354 80.9611L470.875 74.4419L471.559 75.1263L465.038 81.6455L464.354 80.9611Z' fill='url(#paint31_linear)')
		path(d='M472.379 76.2413C472.251 76.2413 472.128 76.1903 472.037 76.0995L469.9 73.9628C469.855 73.9178 469.82 73.8645 469.795 73.8058C469.771 73.7471 469.759 73.6841 469.759 73.6206C469.759 73.557 469.771 73.4941 469.795 73.4354C469.82 73.3766 469.855 73.3233 469.9 73.2784L472.037 71.1416C472.082 71.0967 472.135 71.061 472.194 71.0366C472.253 71.0123 472.316 70.9998 472.379 70.9998C472.443 70.9998 472.506 71.0123 472.565 71.0366C472.623 71.061 472.677 71.0967 472.722 71.1416L474.859 73.2784C474.904 73.3233 474.939 73.3766 474.964 73.4354C474.988 73.4941 475.001 73.557 475.001 73.6206C475.001 73.6841 474.988 73.7471 474.964 73.8058C474.939 73.8645 474.904 73.9178 474.859 73.9628L472.722 76.0999C472.677 76.1448 472.623 76.1804 472.565 76.2047C472.506 76.2289 472.443 76.2414 472.379 76.2413ZM470.927 73.6185L472.379 75.0713L473.832 73.6185L472.379 72.1678L470.927 73.6185Z' fill='url(#paint32_linear)')
		path(d='M448.441 75.1263L449.125 74.4419L455.646 80.9611L454.961 81.6455L448.441 75.1263Z' fill='url(#paint33_linear)')
		path(d='M447.623 76.2413C447.494 76.2413 447.371 76.1903 447.28 76.0995L445.142 73.9628C445.097 73.9178 445.061 73.8645 445.037 73.8058C445.012 73.7471 445 73.6841 445 73.6206C445 73.557 445.012 73.4941 445.037 73.4354C445.061 73.3766 445.097 73.3233 445.142 73.2784L447.279 71.1416C447.324 71.0967 447.377 71.061 447.436 71.0366C447.494 71.0123 447.557 70.9998 447.621 70.9998C447.685 70.9998 447.747 71.0123 447.806 71.0366C447.865 71.061 447.918 71.0967 447.963 71.1416L450.1 73.2784C450.144 73.3233 450.18 73.3766 450.205 73.4354C450.229 73.4941 450.241 73.557 450.241 73.6206C450.241 73.6841 450.229 73.7471 450.205 73.8058C450.18 73.8645 450.144 73.9178 450.1 73.9628L447.963 76.0995C447.873 76.1898 447.75 76.2407 447.623 76.2413ZM446.17 73.6185L447.623 75.0733L449.073 73.6206L447.623 72.1678L446.17 73.6185Z' fill='url(#paint34_linear)')
		path(d='M464.354 91.0392L465.038 90.3549L471.557 96.8741L470.873 97.5585L464.354 91.0392Z' fill='url(#paint35_linear)')
		path(d='M472.379 101C472.316 101 472.253 100.988 472.194 100.963C472.135 100.939 472.082 100.903 472.037 100.858L469.9 98.7214C469.855 98.6765 469.82 98.6232 469.795 98.5644C469.771 98.5057 469.759 98.4428 469.759 98.3792C469.759 98.3157 469.771 98.2527 469.795 98.194C469.82 98.1353 469.855 98.082 469.9 98.037L472.037 95.8999C472.13 95.8124 472.252 95.7637 472.379 95.7637C472.507 95.7637 472.629 95.8124 472.722 95.8999L474.859 98.037C474.904 98.082 474.939 98.1353 474.964 98.194C474.988 98.2527 475.001 98.3157 475.001 98.3792C475.001 98.4428 474.988 98.5057 474.964 98.5644C474.939 98.6232 474.904 98.6765 474.859 98.7214L472.722 100.858C472.677 100.903 472.623 100.939 472.565 100.963C472.506 100.988 472.443 101 472.379 101ZM470.927 98.3792L472.379 99.8316L473.832 98.3792L472.379 96.9265L470.927 98.3792Z' fill='url(#paint36_linear)')
		path(d='M448.441 96.8736L454.961 90.3544L455.645 91.0387L449.126 97.558L448.441 96.8736Z' fill='url(#paint37_linear)')
		path(d='M447.623 101C447.559 101 447.496 100.988 447.437 100.963C447.379 100.939 447.325 100.903 447.28 100.858L445.142 98.7215C445.097 98.6766 445.061 98.6232 445.037 98.5645C445.012 98.5058 445 98.4428 445 98.3793C445 98.3157 445.012 98.2528 445.037 98.1941C445.061 98.1353 445.097 98.082 445.142 98.0371L447.279 95.8999C447.324 95.855 447.377 95.8193 447.436 95.7949C447.494 95.7706 447.557 95.7581 447.621 95.7581C447.685 95.7581 447.747 95.7706 447.806 95.7949C447.865 95.8193 447.918 95.855 447.963 95.8999L450.1 98.0371C450.145 98.082 450.181 98.1353 450.205 98.1941C450.229 98.2528 450.242 98.3157 450.242 98.3793C450.242 98.4428 450.229 98.5058 450.205 98.5645C450.181 98.6232 450.145 98.6766 450.1 98.7215L447.963 100.858C447.873 100.949 447.75 101 447.623 101ZM446.17 98.3793L447.623 99.832L449.075 98.3797L447.623 96.9265L446.17 98.3793Z' fill='url(#paint38_linear)')
		path(d='M440.307 12.0059H443.417C444.834 12.0059 445.862 12.2087 446.5 12.6143C447.143 13.0153 447.464 13.6556 447.464 14.5352C447.464 15.1322 447.323 15.6221 447.04 16.0049C446.762 16.3877 446.391 16.6178 445.926 16.6953V16.7637C446.559 16.9049 447.015 17.1693 447.293 17.5566C447.576 17.944 447.717 18.459 447.717 19.1016C447.717 20.013 447.386 20.724 446.726 21.2344C446.069 21.7448 445.176 22 444.046 22H440.307V12.0059ZM442.426 15.9639H443.656C444.23 15.9639 444.645 15.875 444.9 15.6973C445.16 15.5195 445.29 15.2256 445.29 14.8154C445.29 14.4326 445.149 14.1592 444.866 13.9951C444.588 13.8265 444.146 13.7422 443.54 13.7422H442.426V15.9639ZM442.426 17.6455V20.25H443.807C444.39 20.25 444.821 20.1383 445.099 19.915C445.377 19.6917 445.516 19.3499 445.516 18.8896C445.516 18.0602 444.923 17.6455 443.738 17.6455H442.426Z' fill='#38C37D')
		path(d='M457.848 12.0059V18.4727C457.848 19.2109 457.681 19.8581 457.349 20.4141C457.021 20.9701 456.544 21.3962 455.92 21.6924C455.296 21.9886 454.557 22.1367 453.705 22.1367C452.42 22.1367 451.422 21.8086 450.711 21.1523C450 20.4915 449.645 19.5892 449.645 18.4453V12.0059H451.757V18.124C451.757 18.8942 451.912 19.4593 452.222 19.8193C452.532 20.1794 453.044 20.3594 453.76 20.3594C454.452 20.3594 454.954 20.1794 455.264 19.8193C455.578 19.4548 455.735 18.8851 455.735 18.1104V12.0059H457.848Z' fill='#38C37D')
		path(d='M460.295 22V12.0059H462.414V22H460.295Z' fill='#38C37D')
		path(d='M464.93 22V12.0059H467.049V20.25H471.103V22H464.93Z' fill='#38C37D')
		path(d='M481.138 16.9072C481.138 18.5524 480.668 19.8125 479.729 20.6875C478.795 21.5625 477.444 22 475.676 22H472.846V12.0059H475.983C477.615 12.0059 478.882 12.4365 479.784 13.2979C480.687 14.1592 481.138 15.3623 481.138 16.9072ZM478.937 16.9619C478.937 14.8154 477.989 13.7422 476.093 13.7422H474.965V20.25H475.874C477.916 20.25 478.937 19.154 478.937 16.9619Z' fill='#38C37D')
	g#anim2-box-5
		g(filter='url(#filter9_d)')
			path(d='M580 136C607.614 136 630 113.614 630 86C630 58.3858 607.614 36 580 36C552.386 36 530 58.3858 530 86C530 113.614 552.386 136 580 136Z' fill='white' fill-opacity='0.3')
			path(d='M580 135.5C607.338 135.5 629.5 113.338 629.5 86C629.5 58.6619 607.338 36.5 580 36.5C552.662 36.5 530.5 58.6619 530.5 86C530.5 113.338 552.662 135.5 580 135.5Z' stroke='white')
		g(filter='url(#filter10_d)')
			path(d='M580 126C602.091 126 620 108.091 620 86C620 63.9086 602.091 46 580 46C557.909 46 540 63.9086 540 86C540 108.091 557.909 126 580 126Z' fill='white')
		path(d='M591.313 77.2811C591.229 77.1971 591.13 77.1305 591.02 77.0851C590.91 77.0396 590.793 77.0162 590.674 77.0162C590.555 77.0162 590.438 77.0396 590.328 77.0851C590.218 77.1305 590.118 77.1971 590.034 77.2811L579.183 88.1023L575.268 83.8474C575.187 83.76 575.09 83.6893 574.983 83.6393C574.875 83.5894 574.758 83.5612 574.64 83.5563C574.521 83.5514 574.402 83.5699 574.291 83.6108C574.179 83.6517 574.077 83.7142 573.99 83.7947C573.902 83.8752 573.832 83.9721 573.782 84.0798C573.732 84.1876 573.703 84.3042 573.699 84.4229C573.694 84.5416 573.712 84.6601 573.753 84.7716C573.794 84.8832 573.856 84.9855 573.937 85.0729L578.49 90.0174C578.572 90.1069 578.671 90.179 578.782 90.2293C578.893 90.2796 579.012 90.307 579.134 90.31H579.153C579.392 90.3099 579.622 90.215 579.791 90.0461L591.309 78.5588C591.479 78.3898 591.575 78.1603 591.576 77.9208C591.576 77.6812 591.482 77.4512 591.313 77.2811Z' fill='url(#paint39_linear)')
		path(d='M591.095 85.0952C590.856 85.0952 590.626 85.1903 590.456 85.3596C590.287 85.5289 590.191 85.7586 590.191 85.9982C590.191 88.0138 589.594 89.9842 588.474 91.6603C587.355 93.3364 585.764 94.6428 583.902 95.4145C582.04 96.1861 579.99 96.3883 578.014 95.9954C576.037 95.6025 574.221 94.6323 572.795 93.2073C571.37 91.7823 570.399 89.9666 570.005 87.9899C569.612 86.0131 569.813 83.964 570.584 82.1017C571.355 80.2395 572.661 78.6476 574.337 77.5276C576.012 76.4075 577.983 75.8094 579.998 75.8091C580.238 75.8091 580.468 75.7138 580.638 75.5442C580.807 75.3745 580.903 75.1445 580.903 74.9046C580.903 74.6646 580.807 74.4346 580.638 74.2649C580.468 74.0953 580.238 74 579.998 74C577.625 74 575.305 74.7037 573.332 76.0221C571.359 77.3405 569.821 79.2143 568.913 81.4067C568.005 83.5991 567.768 86.0116 568.231 88.339C568.694 90.6664 569.836 92.8043 571.514 94.4823C573.192 96.1603 575.33 97.303 577.658 97.7659C579.985 98.2289 582.397 97.9913 584.59 97.0832C586.782 96.1751 588.656 94.6372 589.974 92.6641C591.293 90.691 591.996 88.3713 591.996 85.9982C591.996 85.7591 591.901 85.5299 591.732 85.3606C591.563 85.1914 591.334 85.0959 591.095 85.0952Z' fill='url(#paint40_linear)')
		path(d='M553.306 12.0059H555.445L552.048 22H549.737L546.347 12.0059H548.486L550.366 17.9531C550.471 18.304 550.578 18.7142 550.688 19.1836C550.801 19.6484 550.872 19.972 550.899 20.1543C550.95 19.735 551.12 19.0013 551.412 17.9531L553.306 12.0059Z' fill='#38C37D')
		path(d='M562.828 22L562.104 19.6211H558.46L557.735 22H555.452L558.979 11.9648H561.57L565.111 22H562.828ZM561.598 17.8438C560.928 15.6882 560.549 14.4691 560.463 14.1865C560.381 13.904 560.322 13.6807 560.285 13.5166C560.135 14.0999 559.704 15.5423 558.993 17.8438H561.598Z' fill='#38C37D')
		path(d='M566.376 22V12.0059H568.495V20.25H572.549V22H566.376Z' fill='#38C37D')
		path(d='M574.292 22V12.0059H576.411V22H574.292Z' fill='#38C37D')
		path(d='M587.219 16.9072C587.219 18.5524 586.749 19.8125 585.811 20.6875C584.876 21.5625 583.525 22 581.757 22H578.927V12.0059H582.064C583.696 12.0059 584.963 12.4365 585.865 13.2979C586.768 14.1592 587.219 15.3623 587.219 16.9072ZM585.018 16.9619C585.018 14.8154 584.07 13.7422 582.174 13.7422H581.046V20.25H581.955C583.997 20.25 585.018 19.154 585.018 16.9619Z' fill='#38C37D')
		path(d='M595.408 22L594.684 19.6211H591.04L590.315 22H588.032L591.56 11.9648H594.15L597.691 22H595.408ZM594.178 17.8438C593.508 15.6882 593.13 14.4691 593.043 14.1865C592.961 13.904 592.902 13.6807 592.865 13.5166C592.715 14.0999 592.284 15.5423 591.573 17.8438H594.178Z' fill='#38C37D')
		path(d='M602.812 22H600.692V13.7695H597.979V12.0059H605.525V13.7695H602.812V22Z' fill='#38C37D')
		path(d='M612.819 22H607.063V12.0059H612.819V13.7422H609.183V15.9365H612.566V17.6729H609.183V20.25H612.819V22Z' fill='#38C37D')





