// SECTION :: START

section#main.main
  .c-grid
    .main__wrapper.main__wrapper-1
      .main__wrapper-left
        div
          h1.main__title To the Cloud
          h2.main__subtitle in 4 weeks - guaranteed!
          p.main__desc The first and only fully automated comprehensive solution to design, build, and validate your Cloud Foundation.

          .c-btn__wrapper
            a.c-btn.c-btn__bg(href="#")
              span Learn more

      .main__wrapper-right

    .main__wrapper.main__wrapper-2
      .main__wrapper-left
        div
          p.main__heading Enterprise-ready
          p.main__label Cloud Foundation
          p.main__desc 80+ AWS services seamlessly integrated to build a comprehensive Cloud Foundation.

          .c-btn__wrapper
            a.c-btn.c-btn__bg(href="#")
              span Learn more

      .main__wrapper-right

    .main__wrapper.main__wrapper-3
      .main__wrapper-left
        div

          p.main__heading Everything
          p.main__label that your apps need in Cloud
          p.main__desc 50+ foundational Cloud capabilities & 75 features to choose from

          .c-btn__wrapper
            a.c-btn.c-btn__bg(href="#")
              span Learn more

      .main__wrapper-right

    .main__wrapper.main__wrapper-4
      .main__wrapper-left
        div

          p.main__heading Zero-friction
          p.main__label operations & ready from Day 1
          p.main__desc Everything that you need to transform your organization to a nimble and agile force that is responsive to change.

          .c-btn__wrapper
            a.c-btn.c-btn__bg(href="#")
              span Learn more

      .main__wrapper-right

// SECTION :: END
