// SECTION :: START

.solution__tab-content(data-tab-content='1')

  .solution__tab-desc
    div
      p Give your organization a HeadStart to take business ideas to production at the speed of a startup but with security and stability that is nterprise-grade.
    div
      p Everything your development teams need for rapid innovation is bundled in to Epic9's HeadStart Digital Accelerators, self-serviced and seamlessly provisioned.

  .solution__list-wrapper
    div(style='width: 100%')
      ul.solution__list
        li
          div
            i.icon-font.icon-list-dots
          div
            p Out of the box integration with 3 developer tool suites
        li
          div
            i.icon-font.icon-list-dots
          div
            p Reference implementation of 15+ software delivery pipelines supporting all typical application types and deployment targets
        li
          div
            i.icon-font.icon-list-dots
          div
            p 30+ development starter kits for different application types and languages
        li
          div
            i.icon-font.icon-list-dots
          div
            p Infrastructure as code for provisioning of applications on all deployment targets in AWS
        li
          div
            i.icon-font.icon-list-dots
          div
            p Secure SDLC process from code check-in to production deployment
        li
          div
            i.icon-font.icon-list-dots
          div
            p Prescriptive guidance, yet flexible to be tailored to your organization’s needs

  .solution__slider-wrapper.solution__slider-wrapper-2
    .solution__slider-head.solution__slider-head-2
      a.is-active(href="#" data-id='1') DigiTools
      a(href="#" data-id='2') DigiPortal
      a(href="#" data-id='3') DigiPipelines
      a(href="#" data-id='4') DigiPlatform

    .solution__slider-footer.solution__slider-footer-2
      .solution__slider-row.solution__slider-row-1.is-show

        .solution__slider-body
          div
            a.solution__slider-btn.solution__slider-btn--prev(href="#")
              i.icon-font.icon-arrow
          div

            mixin swiperContent()
              each val, idx in [1,2,3,4,5,6]
                .swiper-slide
                  div
                    h4 Account Framework
                    p A well-architected account framework aligned to application environment strategy and prescriptive enterprise core accounts
                    .c-btn__wrapper
                      a.c-btn.c-btn__border.c-btn__border--dark(href="#" )
                        span Request a demo
                      a.c-btn.c-btn__bg(href="#")
                        span Sign up
                  div
                    img(src="img/img-solution-slider-1.svg" alt="")

            +swiper('solutionSlider20', 'swiperContent', false, false, false)

          div
            a.solution__slider-btn.solution__slider-btn--next(href="#")
              i.icon-font.icon-arrow

      .solution__slider-row.solution__slider-row-2

        .solution__slider-body
          div
            a.solution__slider-btn.solution__slider-btn--prev(href="#")
              i.icon-font.icon-arrow
          div

            mixin swiperContent()
              each val, idx in [1,2,3,4,5,6]
                .swiper-slide
                  div
                    h4 Account Framework
                    p A well-architected account framework aligned to application environment strategy and prescriptive enterprise core accounts
                    .c-btn__wrapper
                      a.c-btn.c-btn__border.c-btn__border--dark(href="#")
                        span Request a demo
                      a.c-btn.c-btn__bg(href="#")
                        span Sign up
                  div
                    img(src="img/img-solution-slider-1.svg" alt="")

            +swiper('solutionSlider21', 'swiperContent', false, false, false)

          div
            a.solution__slider-btn.solution__slider-btn--next(href="#")
              i.icon-font.icon-arrow

      .solution__slider-row.solution__slider-row-3

        .solution__slider-body
          div
            a.solution__slider-btn.solution__slider-btn--prev(href="#")
              i.icon-font.icon-arrow
          div

            mixin swiperContent()
              each val, idx in [1,2,3,4,5,6]
                .swiper-slide
                  div
                    h4 Account Framework
                    p A well-architected account framework aligned to application environment strategy and prescriptive enterprise core accounts
                    .c-btn__wrapper
                      a.c-btn.c-btn__border.c-btn__border--dark(href="#")
                        span Request a demo
                      a.c-btn.c-btn__bg(href="#")
                        span Sign up
                  div
                    img(src="img/img-solution-slider-1.svg" alt="")

            +swiper('solutionSlider22', 'swiperContent', false, false, false)

          div
            a.solution__slider-btn.solution__slider-btn--next(href="#")
              i.icon-font.icon-arrow

      .solution__slider-row.solution__slider-row-4

        .solution__slider-body
          div
            a.solution__slider-btn.solution__slider-btn--prev(href="#")
              i.icon-font.icon-arrow
          div

            mixin swiperContent()
              each val, idx in [1,2,3,4,5,6]
                .swiper-slide
                  div
                    h4 Account Framework
                    p A well-architected account framework aligned to application environment strategy and prescriptive enterprise core accounts
                    .c-btn__wrapper
                      a.c-btn.c-btn__border.c-btn__border--dark(href="#")
                        span Request a demo
                      a.c-btn.c-btn__bg(href="#")
                        span Sign up
                  div
                    img(src="img/img-solution-slider-1.svg" alt="")

            +swiper('solutionSlider23', 'swiperContent', false, false, false)

          div
            a.solution__slider-btn.solution__slider-btn--next(href="#")
              i.icon-font.icon-arrow

// SECTION :: END
