// SECTION :: START

.solution__tab-content(data-tab-content='2')

  .solution__tab-desc
    div
      p Build an organization enabled by an Agile operating model taking full advantage of self-service, automation and speed to market that Cloud offers. Bring to bear leading practices from Agile, DevSecOps/SRE, ITIL v4 and multi-speed IT with the objective of increasing user autonomy,
    div
      p organization agility, and improving operational efficiency. Attain agility of a startup at enterprise scale & enable developers to deliver better software faster while ensuring security & compliance.

  .solution__list-wrapper
    div
      ul.solution__list
        li
          div
            i.icon-font.icon-list-dots
          div
            p Everything your organization needs for day 1 readiness
        li
          div
            i.icon-font.icon-list-dots
          div
            p Buiness case for operating model transformation
        li
          div
            i.icon-font.icon-list-dots
          div
            p Reference operating model design that can be tailored to your organization needs
        li
          div
            i.icon-font.icon-list-dots
          div
            p 20+ process blueprints for cloud and RACI matrix
        li
          div
            i.icon-font.icon-list-dots
          div
            p Cloud onboarding and operations handbooks
        li
          div
            i.icon-font.icon-list-dots
          div
            p Skills assessment, training strategy and training plan
        li
          div
            i.icon-font.icon-list-dots
          div
            p Organization change management plan
        li
          div
            i.icon-font.icon-list-dots
          div
            p Program dashboard and reporting templates
    div
      ul.solution__list
        li
          div
            i.icon-font.icon-list-dots
          div
            p Breakdown traditional silos and drive a culture of innovation that values transparency and accountability
        li
          div
            i.icon-font.icon-list-dots
          div
            p Normalize processes to be simple and secure, and follow an approved path to production
        li
          div
            i.icon-font.icon-list-dots
          div
            p Establish policies that support automation and compliance
        li
          div
            i.icon-font.icon-list-dots
          div
            p Leverage technology to automate via testing, security, infrastructure, and compliance as code
        li
          div
            i.icon-font.icon-list-dots
          div
            p Make security and operations fully agile and map existing control objectives to policy driven & codified controls/guardrails on cloud
        li
          div
            i.icon-font.icon-list-dots
          div
            p Transition to a trust-but-verify approach to SDLC governance in place of tollgates at different stages of SDLC

  .solution__slider-wrapper.solution__slider-wrapper-3
    .solution__slider-head.solution__slider-head-3
      a.is-active(href="#" data-id='1') Cloud Operating Model
      a(href="#" data-id='2') Process Reengineering for Cloud
      a(href="#" data-id='3') Operations Playbooks

    .solution__slider-footer.solution__slider-footer-3
      .solution__slider-row.solution__slider-row-1.is-show
        .solution__slider-body
          div
            a.solution__slider-btn.solution__slider-btn--prev(href="#")
              i.icon-font.icon-arrow
          div

            mixin swiperContent()
              each val, idx in [1,2,3,4]
                .swiper-slide
                  div
                    h4 Account Framework
                    p A well-architected account framework aligned to application environment strategy and prescriptive enterprise core accounts
                    .c-btn__wrapper
                      a.c-btn.c-btn__border.c-btn__border--dark(href="#")
                        span Request a demo
                      a.c-btn.c-btn__bg(href="#")
                        span Sign up
                  div
                    img(src="img/img-solution-slider-1.svg" alt="")

            +swiper('solutionSlider30', 'swiperContent', false, false, false)

          div
            a.solution__slider-btn.solution__slider-btn--next(href="#")
              i.icon-font.icon-arrow

      .solution__slider-row.solution__slider-row-2
        .solution__slider-body
          div
            a.solution__slider-btn.solution__slider-btn--prev(href="#")
              i.icon-font.icon-arrow
          div

            mixin swiperContent()
              each val, idx in [1,2,3,4]
                .swiper-slide
                  div
                    h4 Account Framework
                    p A well-architected account framework aligned to application environment strategy and prescriptive enterprise core accounts
                    .c-btn__wrapper
                      a.c-btn.c-btn__border.c-btn__border--dark(href="#")
                        span Request a demo
                      a.c-btn.c-btn__bg(href="#")
                        span Sign up
                  div
                    img(src="img/img-solution-slider-1.svg" alt="")

            +swiper('solutionSlider31', 'swiperContent', false, false, false)

          div
            a.solution__slider-btn.solution__slider-btn--next(href="#")
              i.icon-font.icon-arrow

      .solution__slider-row.solution__slider-row-3
        .solution__slider-body
          div
            a.solution__slider-btn.solution__slider-btn--prev(href="#")
              i.icon-font.icon-arrow
          div

            mixin swiperContent()
              each val, idx in [1,2,3,4]
                .swiper-slide
                  div
                    h4 Account Framework
                    p A well-architected account framework aligned to application environment strategy and prescriptive enterprise core accounts
                    .c-btn__wrapper
                      a.c-btn.c-btn__border.c-btn__border--dark(href="#")
                        span Request a demo
                      a.c-btn.c-btn__bg(href="#")
                        span Sign up
                  div
                    img(src="img/img-solution-slider-1.svg" alt="")

            +swiper('solutionSlider32', 'swiperContent', false, false, false)

          div
            a.solution__slider-btn.solution__slider-btn--next(href="#")
              i.icon-font.icon-arrow

// SECTION :: END
