// SECTION :: START

.solution__tab-content(data-tab-content='0' style='display: block')

  .solution__tab-desc
    div
      p Not just a tagline but a truly well-architected, infrastructure as code-based, fully automated, and future-proof enterprise-grade cloud foundation with latest best practices, architecture patterns, and digitized guardrails.
    div
      p Whether you need to replace a poorly implemented AWS environment or need to build a greenfield cloud, Epic9's BuiltRight Cloud Foundation can get you there in under 4 weeks, guaranteed! It's your go-to solution if you need to build foundational services in preparation for cloud migration or for cloud-native development.

  .solution__list-wrapper
    div
      ul.solution__list
        li
          div
            i.icon-font.icon-list-dots
          div
            p 70+ AWS services seamlessly integrated to build a comprehensive enterprise-ready cloud foundation
        li
          div
            i.icon-font.icon-list-dots
          div
            p 50+ foundational Cloud capabilities for enterprise-wide use & 75 features to choose from
        li
          div
            i.icon-font.icon-list-dots
          div
            p 150+ design decisions made easy
        li
          div
            i.icon-font.icon-list-dots
          div
            p 100% infrastructure as code and fully automated
        li
          div
            i.icon-font.icon-list-dots
          div
            p Prescriptive guidance, yet flexible to be tailored to your organization’s needs
        li
          div
            i.icon-font.icon-list-dots
          div
            p Secure by design using AWS best practices for Security, Compliance, and Governance
    div
      ul.solution__list
        li
          div
            i.icon-font.icon-list-dots
          div
            p No lock-in; all automation uses AWS native services
        li
          div
            i.icon-font.icon-list-dots
          div
            p Out of the box integration with 15+ third-party enterprise security and monitoring tools
        li
          div
            i.icon-font.icon-list-dots
          div
            p Automated deployment of conformance packs for CIS, NIST CSF, PCI-DSS
        li
          div
            i.icon-font.icon-list-dots
          div
            p Manage it through AWS console or code based on your team’s skills
        li
          div
            i.icon-font.icon-list-dots
          div
            p Inbuilt-cost controls and reporting
        li
          div
            i.icon-font.icon-list-dots
          div
            p Works seamlessly with AWS Control Tower

  .solution__slider-wrapper.solution__slider-wrapper-1
    .solution__slider-head.solution__slider-head-1
      a.is-active(href="#" data-id='1') Governance
      a(href="#" data-id='2') Security
      a(href="#" data-id='3') Network
      a(href="#" data-id='4') Infrastructure
      a(href="#" data-id='5') Monitoring

    .solution__slider-footer.solution__slider-footer-1
      .solution__slider-row.solution__slider-row-1.is-show

        .solution__slider-body
          div
            a.solution__slider-btn.solution__slider-btn--prev(href="#")
              i.icon-font.icon-arrow
          div

            mixin swiperContent()
              each val, idx in [1,2,3,4,5,6]
                .swiper-slide
                  div
                    h4 Account Framework
                    p A well-architected account framework aligned to application environment strategy and prescriptive enterprise core accounts
                    .c-btn__wrapper
                      a.c-btn.c-btn__border.c-btn__border--dark(href="#")
                        span Request a demo
                      a.c-btn.c-btn__bg(href="#")
                        span Sign up
                  div
                    img(src="img/img-solution-slider-1.svg" alt="")

            +swiper('solutionSlider10', 'swiperContent', false, false, false)

          div
            a.solution__slider-btn.solution__slider-btn--next(href="#")
              i.icon-font.icon-arrow

      .solution__slider-row.solution__slider-row-2

        .solution__slider-body
          div
            a.solution__slider-btn.solution__slider-btn--prev(href="#")
              i.icon-font.icon-arrow
          div

            mixin swiperContent()
              each val, idx in [1,2,3,4,5,6]
                .swiper-slide
                  div
                    h4 Account Framework
                    p A well-architected account framework aligned to application environment strategy and prescriptive enterprise core accounts
                    .c-btn__wrapper
                      a.c-btn.c-btn__border.c-btn__border--dark(href="#")
                        span Request a demo
                      a.c-btn.c-btn__bg(href="#")
                        span Sign up
                  div
                    img(src="img/img-solution-slider-1.svg" alt="")

            +swiper('solutionSlider11', 'swiperContent', false, false, false)

          div
            a.solution__slider-btn.solution__slider-btn--next(href="#")
              i.icon-font.icon-arrow

      .solution__slider-row.solution__slider-row-3

        .solution__slider-body
          div
            a.solution__slider-btn.solution__slider-btn--prev(href="#")
              i.icon-font.icon-arrow
          div

            mixin swiperContent()
              each val, idx in [1,2,3,4,5,6]
                .swiper-slide
                  div
                    h4 Account Framework
                    p A well-architected account framework aligned to application environment strategy and prescriptive enterprise core accounts
                    .c-btn__wrapper
                      a.c-btn.c-btn__border.c-btn__border--dark(href="#")
                        span Request a demo
                      a.c-btn.c-btn__bg(href="#")
                        span Sign up
                  div
                    img(src="img/img-solution-slider-1.svg" alt="")

            +swiper('solutionSlider12', 'swiperContent', false, false, false)

          div
            a.solution__slider-btn.solution__slider-btn--next(href="#")
              i.icon-font.icon-arrow

      .solution__slider-row.solution__slider-row-4

        .solution__slider-body
          div
            a.solution__slider-btn.solution__slider-btn--prev(href="#")
              i.icon-font.icon-arrow
          div

            mixin swiperContent()
              each val, idx in [1,2,3,4,5,6]
                .swiper-slide
                  div
                    h4 Account Framework
                    p A well-architected account framework aligned to application environment strategy and prescriptive enterprise core accounts
                    .c-btn__wrapper
                      a.c-btn.c-btn__border.c-btn__border--dark(href="#")
                        span Request a demo
                      a.c-btn.c-btn__bg(href="#")
                        span Sign up
                  div
                    img(src="img/img-solution-slider-1.svg" alt="")

            +swiper('solutionSlider13', 'swiperContent', false, false, false)

          div
            a.solution__slider-btn.solution__slider-btn--next(href="#")
              i.icon-font.icon-arrow

      .solution__slider-row.solution__slider-row-5

        .solution__slider-body
          div
            a.solution__slider-btn.solution__slider-btn--prev(href="#")
              i.icon-font.icon-arrow
          div

            mixin swiperContent()
              each val, idx in [1,2,3,4,5,6]
                .swiper-slide
                  div
                    h4 Account Framework
                    p A well-architected account framework aligned to application environment strategy and prescriptive enterprise core accounts
                    .c-btn__wrapper
                      a.c-btn.c-btn__border.c-btn__border--dark(href="#")
                        span Request a demo
                      a.c-btn.c-btn__bg(href="#")
                        span Sign up
                  div
                    img(src="img/img-solution-slider-1.svg" alt="")

            +swiper('solutionSlider14', 'swiperContent', false, false, false)

          div
            a.solution__slider-btn.solution__slider-btn--next(href="#")
              i.icon-font.icon-arrow

// SECTION :: END
