@font-face {
	font-family: "iconFont";
	src: url('../fonts/iconFont.eot');
	src: url('../fonts/iconFont.eot?#iefix') format('eot'),
		url('../fonts/iconFont.woff2') format('woff2'),
		url('../fonts/iconFont.woff') format('woff'),
		url('../fonts/iconFont.ttf') format('truetype'),
		url('../fonts/iconFont.svg#iconFont') format('svg');
}

@mixin icon-styles {
	font-family: "iconFont", sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%icon {
	@include icon-styles;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == arrow {
		$char: "\E001";
	}
	@if $filename == build {
		$char: "\E002";
	}
	@if $filename == category {
		$char: "\E003";
	}
	@if $filename == chat {
		$char: "\E004";
	}
	@if $filename == circle-checked {
		$char: "\E005";
	}
	@if $filename == cloud-check {
		$char: "\E006";
	}
	@if $filename == cloud {
		$char: "\E007";
	}
	@if $filename == database {
		$char: "\E008";
	}
	@if $filename == document {
		$char: "\E009";
	}
	@if $filename == eye {
		$char: "\E00A";
	}
	@if $filename == governance {
		$char: "\E00B";
	}
	@if $filename == list-dots {
		$char: "\E00C";
	}
	@if $filename == logout {
		$char: "\E00D";
	}
	@if $filename == pen {
		$char: "\E00E";
	}
	@if $filename == profile {
		$char: "\E00F";
	}
	@if $filename == rocket {
		$char: "\E010";
	}
	@if $filename == security {
		$char: "\E011";
	}
	@if $filename == square-dashed {
		$char: "\E012";
	}
	@if $filename == swap {
		$char: "\E013";
	}
	@if $filename == terminal {
		$char: "\E014";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon;
		} @else {
			@include icon-styles;
		}
		content: icon-char($filename);
	}
}

.icon-arrow {
	@include icon(arrow);

}
.icon-build {
	@include icon(build);

}
.icon-category {
	@include icon(category);

}
.icon-chat {
	@include icon(chat);

}
.icon-circle-checked {
	@include icon(circle-checked);

}
.icon-cloud-check {
	@include icon(cloud-check);

}
.icon-cloud {
	@include icon(cloud);

}
.icon-database {
	@include icon(database);

}
.icon-document {
	@include icon(document);

}
.icon-eye {
	@include icon(eye);

}
.icon-governance {
	@include icon(governance);

}
.icon-list-dots {
	@include icon(list-dots);

}
.icon-logout {
	@include icon(logout);

}
.icon-pen {
	@include icon(pen);

}
.icon-profile {
	@include icon(profile);

}
.icon-rocket {
	@include icon(rocket);

}
.icon-security {
	@include icon(security);

}
.icon-square-dashed {
	@include icon(square-dashed);

}
.icon-swap {
	@include icon(swap);

}
.icon-terminal {
	@include icon(terminal);

}